[2013-09-19 21:23] perrygeo opened #1 "manual and API doc"
buildthedocs or just use wiki? literate programming?

[2013-09-19 21:24] perrygeo opened #2 "Examples"
Examples for PyShp, GeoDjango, Fiona, Path to OGR resource, ArcPy ... use ipython notebook or some form of literate programming.

[2013-09-19 21:25] perrygeo opened #3 "command line interface"
command line interface which returns csv data and optionally copies over original vector attrs

[2013-09-19 21:25] perrygeo opened #4 "Projection support"
- reproject on the fly using projection metadata

[2013-09-19 21:26] perrygeo opened #5 "Profile and test with real world data"
profile and test using a wide range of input data. The resulting heuristics used to automatically configure for optimal performance. Optimzation heuristic for determining global_src_extent - number of features - extent of features - available system memory vs raster_extent

[2013-09-19 21:26] perrygeo opened #6 "util function to map pixel values to categories"

[2013-09-19 21:26] perrygeo opened #7 "parallel processing"
support parallel processing on multiple CPUs via the `multiprocessing` approach

[2013-09-19 21:27] perrygeo opened #8 "Zonal majority"
zonal majority... [example](http://stackoverflow.com/questions/6252280/find-the-most-frequent-number-in-a-numpy-vector) and other zonal stat metrics

[2013-09-19 21:27] perrygeo opened #9 "Optional argument to specify which zonal stats to calculate"
(may speed things up to exclude)

[2013-09-19 21:28] perrygeo opened #10 "benchmark against alternatives"
benchmark against alternative packages:

## Alternatives
There are several other packages for different computing environments that provide similar functionality:

* Grass r.stats
* R spatialdataframe
* starspan
* zonal statistics arcpy
* QGIS

[2013-09-19 21:29] perrygeo opened #11 "Statistic: histograms"
optional output for non-categorical

[2013-09-19 21:29] perrygeo opened #12 "profile for linear features"

[2013-09-20 16:37] perrygeo opened #13 "Support for GeoJSON FeatureCollections"
treat as iterables. accept mapping or string.

[2013-09-20 16:39] perrygeo opened #14 "Support for stats against in-memory numpy arrays"
Instead of saving numpy array to temporary gdal dataset, accept a numpy array directly. Would need a mechanism to supply a geotransform.

[2013-09-21 19:21] #8 closed, assigned to perrygeo

[2013-09-21 19:21] #9 closed, assigned to perrygeo

[2013-09-21 19:36] perrygeo opened #15 "Statistic: count nulls"
This is made challenging by the fact that, when the stats are evaluated, there is currently no way to distinguish between a pixel that was masked due to nodata/nulls  vs. a pixel that was masked because it didn't belong to the feature.

What is probably needed is a second array which only identifies nodata (yes/no) and is subsequently masked by feature geometry and counted.

[2013-09-21 19:36] perrygeo opened #16 "Statistic: percentiles"
Not sure how this would work...

[2013-09-21 19:37] perrygeo opened #17 "Statistic: Minority"

[2013-09-21 19:38] perrygeo opened #18 "Statistic: Range"
min - max

[2013-09-21 19:39] perrygeo opened #19 "Statistic: unique"
count of unique pixel values (aka Variety in ArcGIS)

[2013-09-21 20:43] perrygeo opened #20 "Optional output of "mini-rasters""
Output geotiffs of masked rasters, one per feature, to confirm the shape produced by GDAL RasterizeLayer

[2013-09-22 18:10] #17 closed, assigned to nobody

[2013-09-22 18:10] #18 closed, assigned to nobody

[2013-09-22 18:10] #19 closed, assigned to nobody

[2013-09-22 19:30] #3 closed, assigned to perrygeo

[2013-09-22 23:41] perrygeo opened #21 "categorical as percentage of total"
Would be nice to have the option of reporting percentages by category rather than raw pixel counts (effectively normalize by area for comparison between features)

[2013-09-22 23:59] perrygeo opened #22 "Features outside of raster extent fail"
Partially or fully out of raster extent, those pixels should be filled with nulls...

otherwise

[code]

[2013-09-23 00:31] perrygeo opened #23 "Large features combine with large rasters can exceed memory; catch early & warn?"
When it does, numpy raises an unceremonious MemoryError.

We need a way to avoid this.. maybe detect and break the feature down into smaller chunks?? Or at the very least, warn the user about low system memory.

[2013-09-23 18:23] #22 closed, assigned to perrygeo

[2013-09-24 17:38] perrygeo opened #24 "Read nodata value from gdal raster"
if nodata is not specified, use the one from the data source's metadata

[2013-09-24 17:43] #24 closed, assigned to nobody

[2014-01-14 17:56] ghost opened #25 "Stats output always shows "None""
Hello Matthew,

I'm trying to calculate mean precipitation values within elevation zone shapefiles using TRMM daily precip data.  I am using the raster_stats package and it's not having any issues reading the shapefile.  Although, the stats output (mean, range, etc.) always shows None, indicating that the script is most likely unable to read my data. I'm using TIF files that were converted from ne

[2014-02-05 16:06] ustroetz opened #26 "Add warning if projection of raster and vector files don't match."
It would be nice to get a warning if the projection of the vector file is not the same as the raster file.

[2014-04-21 13:32] engelmannjens opened #27 "Partial polygon overlap in raster stats"
I am using the raster_stats module in python to calculate the mean carbon value for different sets of polygons. Here is the code that I am using:

[code]

I have approximately 260 grid surface areas that I am employing. The grid areas have between ~10,000 polygons and ~40,000 polygons in them. Here is the error message I get for some of grids:

 Traceback (most recent call last):
 File "<stdin>",

[2014-04-22 17:28] perrygeo opened #28 "Use rasterio"
For cleaner API and rasterization of geometries (see https://github.com/mapbox/rasterio/pull/62)

[2014-04-22 23:15] #27 closed, assigned to nobody

[2014-06-03 20:58] #25 closed, assigned to nobody

[2014-06-03 21:01] perrygeo opened #32 "Run stats on multiple rasters"
A common pattern is to grab a set of stats from a series of rasters. Currently, one can run raster stats separately and then merge the data structures (see https://github.com/perrygeo/pyimpute/blob/master/src/pyimpute/_main.py#L33) but it might be convenient to support something like this in `raster_stats` directly.

[2014-06-03 21:04] perrygeo opened #33 "Alternative output formats"
Currently you get a list of dicts with raster statistics.

You might want a tabular data structure ... easy enough with `pandas.DataFrame(results)`

There's also the function

[code]

What we don't have is the ability to output a vector dataset directly. Basically just join this table with the original vector and write it out with OGR .

[2014-06-05 08:38] xg1990 opened #34 "Cannot read unicode strings correctly in shapefile"
Unicode strings in attributions of shapefiles (such as Chinese characters )  are read as "?????".

This problem may be solved by adding a "coding" parameter to `raster_stats` function.

[2014-07-13 19:30] perrygeo opened #35 "Accept and optionally return GeoDataFrame"
This could be the mechanism by which #33 is accomplished - via GeoPandas data frames

I'm debating one of three forms...
##### 1. A new function

[code]
##### 2. Infer different return type based on input type

[code]
##### 3. kwarg to return df

[code]

We could also combine 2 & 3 by assuming df return if df input, dict return otherwise _and_ expose an optional return_df for all cases.

[2014-07-14 15:04] perrygeo opened #36 "Deprecate raster_stats in favor of zonal_stats"
Justification: raster stats is too generic and ambiguous and there will be more types of raster statistics eventually (ie profiles)

Keep backwards compatibility until 1.0

[2014-07-14 15:05] perrygeo opened #37 "Requirements files"

[2014-07-14 15:05] perrygeo opened #38 "Python 3 support"

[2014-07-14 15:05] perrygeo opened #39 "Ipython notebooks, examples dir"

[2014-07-14 15:12] #14 closed, assigned to perrygeo

[2014-07-14 15:12] #36 closed, assigned to nobody

[2014-07-14 15:12] #37 closed, assigned to nobody

[2014-07-14 16:38] #13 closed, assigned to perrygeo

[2014-07-14 16:55] #35 closed, assigned to nobody

[2014-07-14 16:56] #33 closed, assigned to nobody

[2014-07-14 16:58] #23 closed, assigned to nobody

[2014-07-14 16:59] #2 closed, assigned to perrygeo

[2014-07-14 16:59] #4 closed, assigned to perrygeo

[2014-07-14 18:08] #39 closed, assigned to nobody

[2014-07-22 21:17] #38 closed, assigned to nobody

[2014-07-25 17:38] orion1991 opened #42 "Size Issue?"
I seem to have an issue with getting an error from zonal_stats when the rasters are too big. It starts to occur when the raster size gets larger than 14k by 14k. I am asking it to calculate 'categorical' amounts.

The exact error is copied below:

Traceback (most recent call last):
  File "C:\PROGRA~1\QGISVA~1\apps\Python27\lib\site-packages\rasterstats\main.py", line 203, in zonal_stats
    np.lo

[2014-09-03 10:52] NPounder opened #43 "AttributeError when using ogr with no GetUseExceptions attribute"
I have a version of gdal with no ogr.GetUseExceptions(). I am unable to import zonal_stats, getting the error below. If I comment out lines 12 and 13, below, rasterstats works wonderfully. I think these lines are supposed to be handling this case?

The errors are:
## In [1]: from rasterstats import zonal_stats

AttributeError                            Traceback (most recent call last)
/home/nicol

[2014-11-09 22:59] allhailwesttexas opened #46 "Mask Error in some cases with polygon on raster boundary"
I'm having issues with `zonal_stats` in some cases. I get the following error (or versions thereof):

[code]

Below is a simple example that replicates the error. This also gives `ERROR 5: output.tif, band 1: Access window out of range in RasterIO().  Requested (87,132) of size 6x3 on raster of 92x135.` which is not always present.

[code]

[2014-11-12 18:58] #46 closed, assigned to nobody

[2014-11-29 21:06] #26 closed, assigned to nobody

[2014-11-29 21:16] #42 closed, assigned to nobody

[2014-11-29 21:17] #5 closed, assigned to perrygeo

[2014-11-29 21:19] #21 closed, assigned to nobody

[2014-11-29 21:21] #43 closed, assigned to nobody

[2014-11-29 21:27] perrygeo opened #47 "Performance benchmarks"
* [x] Gather test datasets
* [x] Set up a benchmark suite
* [x] Profile excecution

[2014-12-01 18:38] perrygeo opened #50 "Instead of stats_to_csv, use pandas for csv export"
Per @ozak s [comment](https://github.com/perrygeo/python-raster-stats/issues/34#issuecomment-65017937) on #34

[2014-12-01 18:38] #34 closed, assigned to nobody

[2014-12-01 18:45] #20 closed, assigned to nobody

[2014-12-18 08:03] javimarlop opened #52 "question"
When I try to get the statistics (categorical or continuous) from a raster based on one attribute column from a shapefile, I get the results subdivided by 'fid' when I have kind of isolated pixels. For categorical maps I can easily add the values up a posteriori but for continuous maps in order to get univariate statistics, I need the values that represent the whole category. See example:

Source

[2014-12-18 17:14] #52 closed, assigned to nobody

[2015-01-22 20:54] phobson opened #53 "Installation via `conda`"
Hey Matt,

Would you be interested in making this available through `conda` via binstar?

I'd be happy to provide a recipe (either as a PR or simply provide the downloads via my channel on binstar).

[2015-01-22 21:27] perrygeo commented on #53
Very interested. I don't have any experience with binstar/conda packaging but would love to learn via pull request.

[2015-01-23 16:00] timcera commented on #53
For linux, I already have conda packages that you can install with

    conda install -c https://conda.binstar.org/timcera rasterstats

This is rasterstats 0.5 and supports Python 2.7, 3.3, and 3.4.

I named the package rasterstats to match the name on PyPI.

Might be easy enough to have Windows versions also - will have to figure that out.

All I did was:

    conda skeleton pypi rasterstats

[2015-01-23 16:50] phobson commented on #53
Good to know, I'm having trouble with the `dopopt` dependency on windows. Maybe using `conda skeleton` will help

[2015-02-03 17:38] lou-a opened #54 "Speeding calculations"
Hello,
I have just started using rasterstats (which works great!).
I am working with a very large amount of rasters for which I have to get averages based on a single shapefile.
I wondered if there was a fairly trivial way to accelerate this process by keeping the shapefile features extents and masks in memory instead of calculating them for every raster?
Thanks!

[2015-02-03 18:17] perrygeo commented on #54
That's a very good idea. Originally rasterstats was designed to work against a single raster at a time but in  I often run into the same situation where I need stats against multiple rasters. I've already started a ticket to address this limitation but haven't started implementing it yet - the design decisions and discussion will happen over at issue #32

[2015-02-03 18:17] #54 closed

[2015-02-03 18:33] perrygeo commented on #32
Implications for API:

Currently, a single raster is expected as the second argument:

[code]

But we could probably support an optional list/iterable of rasters:
[code]

Internally, zonal_stats would only need to create the feature masks once instead of for each raster.

The slightly tricky part is the output. With multiple rasters comes the need to differentiate them. The way many GIS packages h

[2015-02-03 18:37] perrygeo commented on #32
Option 2, alternative to above:

Accept a `rastercollection` type dict that could contain metadata like prefixes, affine transforms, paths, etc.

[code]

[2015-02-19 16:57] perrygeo opened #55 "Support for spatialite"
Can we import spatialite tables directly as a vector data source? If so, document it. If not, make it so.

[2015-02-23 18:33] perrygeo commented on #55
I think there is a bug in OGR; an off-by-one error when indexing features. This causes the first feature of spatialite data sources (`layer.GetFeature(0)`) to return `None` which raises an Exception.

Code to reproduce it the OGR error is below. Aside from fixing the bug upstream, I don't think we should try to code around this. My advice to anyone using spatialite is to either:
1. load the data i

[2015-02-23 18:33] #55 closed

[2015-02-23 19:11] perrygeo commented on #53
@phobson The `docopt` dependency will go away in 0.6 (it's only for the CLI `rasterstats` script which is not maintained and will likely be replaced in future versions)

[2015-02-23 19:12] perrygeo commented on #53
Are there any remaining blocking issues to getting this in conda?

[2015-02-23 19:14] perrygeo commented on #50
This is easy enough to do manually with pandas, no need to add an abstraction or dependencies to `rasterstats`.

[2015-02-23 19:14] #50 closed

[2015-02-23 20:49] perrygeo commented on #11
This is made difficult by the additional arguments that must be supplied to create effective histograms.

Percentiles support was easy to define as a special case as it's input (`q`) is well defined - a float b/t 0 and 100 - and can be parsed from a string easily (e.g. `percentile_99`)

Histograms, on the other hand, would have data-dependent bins and many additonal arguments that would not fit wi

[2015-02-23 20:49] #11 closed

[2015-02-23 21:05] perrygeo opened #57 "New zonal_stats function signature."
In an effort to move towards a stable 1.0 release, I want to examine the potential for a slightly different
behavior for the `zonal_stats`.

* **The primary API change** would be to use GeoJSON-like `FeatureCollection` for both input and output of vector features.
* Use a new argument signature. Instead of `zonal_stats(vector, raster)` being very loosely typed and trying to guess at the details of

[2015-02-23 21:09] #16 closed

[2015-02-23 21:14] perrygeo opened #58 "Decouple IO from zonal_stats"
Currently the zonal_stats function is very loosey-goosey about the vector and raster inputs then it attempts to get features and arrays from the arguments with some utils functions.

I would eventually like to make the `zonal_stats` function signature a bit tighter; i.e only accept feature collections and let the user perform the IO to get the data into a GeoJSON-like `FeatureCollection` structure

[2015-02-23 21:51] perrygeo commented on #55
Based on this email exchange on gdal-dev, we should rewrite all OGR feature loops with `GetNextFeature()`

[code]

[2015-02-23 21:52] perrygeo opened #59 "Use GetNextFeature to iterate over OGR layers"
From Even on gdal-dev

[2015-02-23 21:53] perrygeo commented on #59
Related to #55

[2015-02-23 22:00] perrygeo commented on #59
Fixed by b43e71900755fb0d3f44f9f24c2d55ff5521fd8a

[2015-02-23 22:00] #59 closed

[2015-02-23 22:00] perrygeo commented on #55
fixed by b43e71900755fb0d3f44f9f24c2d55ff5521fd8a

[2015-02-24 00:30] #53 closed

[2015-02-24 03:01] perrygeo commented on #12
Need to research algorithms for optimal interpolation of lines.

One possibility: http://toblerity.org/shapely/manual.html#linear-referencing-methods

[2015-03-11 05:19] fri-end opened #60 "impossibility to calculate percentiles for areas containing nodata values"
Hey!
I am experiencing problem when trying to calculate percentiles for areas containing nodata values (in my dataset nodata = 0), while other stats min, max, mean, std works. Here is the error I am getting:
/home/friend/anaconda/lib/python2.7/site-packages/numpy/ma/core.py:3895: UserWarning: Warning: converting a masked element to nan.
  warnings.warn("Warning: converting a masked element to nan.

[2015-03-12 17:36] perrygeo commented on #60
@fri-end  I'm not sure what's going on here. I was able to reproduce this error thanks to your detailed bug report and I will look into fixing it this weekend. Thanks!

[2015-03-12 20:13] #60 closed

[2015-03-14 15:24] perrygeo opened #61 "fix fids"
the `__fid__` for each feature is currently assigned based on enumeration, first feature is `__fid__ == 0`, etc. It's possible for fids in some data sources to not follow this scheme and it causes confusion when interpretting the results.

Options:
* Try to automatically get the unique fid from the dataset
* drop it entirely
* get it from a user-specified `fid_field`

[2015-03-14 15:26] perrygeo opened #62 "Use builtin Exceptions"
We should use appropriate builtin exceptions (`IOError`, `ValueError`, etc) instead of `RasterStatsError`. Or possibly create several custom exceptions that inherit from these base classes.

[2015-04-30 20:40] perrygeo commented on #7
dropping this in favor of giving the responsibility to the user. There are many variables to do this "right" depending on where the bottleneck is, what type of raster and vector data, network and IO concerns, etc. So why quess and hardcode the approach?

[2015-04-30 20:40] #7 closed

[2015-04-30 21:01] perrygeo opened #64 "Use Affine lib instead of geotransform tuples"

[2015-04-30 21:03] perrygeo opened #65 "Variable name cleanup"
We should use more consistent terminology with internal naming conventions
* use row/col to disambiguate from x/y (consistent with rasterio)
* rsize should be rshape (per numpy)

[2015-04-30 21:09] #28 closed

[2015-04-30 21:31] #62 closed

[2015-04-30 21:43] #65 closed

[2015-04-30 22:05] #61 closed

[2015-04-30 22:45] perrygeo commented on #64
On second thought, Affine doesn't really offer many advantages internally so I'd prefer to keep the logic using good old GDAL geotransforms. However, we do have this consider:

[code]

as explained in [rasterio docs](https://github.com/mapbox/rasterio/blob/master/docs/georeferencing.rst#coordinate-transformation), this means that rasterio source's .transform method will eventually return an Affine

[2015-04-30 22:53] perrygeo commented on #64
The `mini_raster_GT` output will also remain gdal geotransforms at least until post 1.0

[2015-05-01 17:48] perrygeo opened #67 "minority and majority stats return non-serializable types"
minority and majority both return <type 'numpy.float32'> and give an error when trying to run json.dumps():

    TypeError: 14.148893 is not JSON serializable

[2015-05-01 18:00] brendan-ward commented on #67
You probably already know this, but in case it helps:

```json``` library doesn't like ```numpy``` types.  Just cast those to python ```float``` before calling ```json.dumps()```

[2015-05-01 20:49] perrygeo commented on #67
Thanks @brendan-ward That was definitely the issue. Strange that numpy scalars don't automatically cast to their respective python types when serialized... but explicit casting to float works for this particular case.

[2015-05-01 20:50] #67 closed

[2015-05-01 22:30] perrygeo opened #68 "Keys returned by categorical are not serializable"
see #67 for details on why.

[2015-05-01 22:30] #68 closed

[2015-05-02 16:46] perrygeo commented on #32
I'm second guessing the utility of this. It seems like running zonal_stats once per raster band is an acceptable alternative. The only reason to combine them would be if the geometry rasterization step is a performance bottleneck and it would be nice to rasterize once and use against multiple rasters. But I'd need to see some profiling data to be convinced. Will re-open if needed...

[2015-05-02 16:46] #32 closed

[2015-05-02 16:55] perrygeo commented on #57
I've implemented the geojson in/out technique in a command line interface and I think it feels really good at that level of abstraction.

I'd like to at least experiment with changing the `vector` argument (closely related to #58 ) but not convinced of the need for rasters.

[2015-05-15 03:50] perrygeo opened #69 "Point interpolation"
Would be great to support bilinear interpolation of point values (currently only does Nearest Neighbor)

[2015-05-15 03:51] perrygeo commented on #69
Relevant reading: http://gis.stackexchange.com/questions/7611/bilinear-interpolation-of-point-data-on-a-raster-in-python?rq=1

[2015-06-19 02:20] shaystrong opened #70 "categorical=True appears to not work on Windows"
On windows, when I apply the categorical=true flag, it will sometimes work and sometimes wont. I do not know how to ensure that is works. The vector file and raster have the same geometry. The output to a call like this:
out  = raster_stats('Parcels.shp','Landcover.tif',categorical=True)
simply returns a listing like this:
{'_fid_': 1}
{'_fid_': 2}
{'_fid_': 3}
...

There are indeed 5 categories i

[2015-06-20 01:12] perrygeo commented on #70
How did you install raster_stats on your windows machine? If you use `pip install`, it should pick up the latest source version.

[2015-07-28 15:58] perrygeo opened #71 "clean up .travis.yml"
right now it's just a big ball of hacks glued together to solve issues with versioning, build speed, etc. It's fragile and ugly and I don't want to maintain it anymore.

Possibly switch to another CI solution that allows for faster build times via dependency containers?

[2015-07-28 19:26] timcera commented on #71
I haven't converted all my projects over yet, but moved to using conda because of this exact issue and it works pretty well....

See
https://bitbucket.org/timcera/tstoolbox/src/22f5b40d04e239288e64fe32ed1f286faff8c598/.travis.yml?at=master
 for an example.  I found bits and pieces around the Internet so you might see similar code in other places.

[2015-08-01 19:43] perrygeo commented on #70
I'm assuming this worked for you? If not, reopen the ticket and we can keep debugging.

[2015-08-01 19:43] #70 closed

[2015-08-01 19:46] perrygeo opened #72 "Document installation"
Recommend an install method for GDAL, numpy, etc on the big three platforms. Homebrew for OS X. apt/yum/etc for Linux. Anaconda? for Windows.

Also suggest virtualenv and show example

[2015-08-14 22:08] perrygeo opened #73 "Multiband support"
`zonalstats` was originally optimized for large vector feature collections against a single raster band (i.e. thousands of polygons against a DEM raster)

There is another use case which `zonalstats` doesn't handle so well: many rasters/bands against a single geometry (i.e. the value at a single point for thousands of climate model simulations or a multispectral image). You can loop through and ca

[2015-08-19 15:29] perrygeo opened #74 "alternative for point data"
If you know you're dealing with simple point coordinate pairs and performance becomes an issue, `zonalstats` will work but incurs a lot of unnecessary overhead since the concept of aggregate stats doesn't really apply to a single point in space.

The direct rasterio implementation is easy enough: from https://gist.github.com/sgillies/061e78c649b6fc4a9f9a
[code]
Probably just need to document this

[2015-08-21 18:33] ozak opened #75 "Remove osgeo.ogr and osr imports"
@perrygeo It seems loading rasterstats causes ``GeoPandas`` to stop working properly. I can not see why this should be the case and it could be a ``GeoPandas`` (or my installation issue). See [here](https://github.com/geopandas/geopandas/issues/214) for the description and replication code and files.

[2015-08-21 18:51] ozak commented on #75
Ok...it definitely seems to be a ``GeoPandas`` issue.

[2015-08-21 19:22] perrygeo commented on #75
This [comment](https://github.com/geopandas/geopandas/issues/214#issuecomment-133534483) about osgeo imports causing problems points out the ultimate cause. It's still an issue that I need to address, though.

I rid the code of `osgeo.gdal` but am still importing `osgeo.ogr` (which still provides a necessary abstraction layer for data not supported by fiona) and `osgeo.osr` for coordinate system h

[2015-08-21 19:23] perrygeo commented on #75
https://github.com/Toblerity/Fiona/issues/92

[2015-08-24 18:40] perrygeo opened #76 "Alternative to georaster dependency"
Currently we have some [tight coupling](http://www.dotnet-stuff.com/tutorials/c-sharp/understanding-loose-coupling-and-tight-coupling) between the `GeoRaster` class and `zonal_stats`. I'd like to propose a change that would allow for looser coupling (as well as remove the dependencies on `scipy`, which slows down CI build times considerably, and `osgeo.osr`, which is not considered safe)

Instead

[2015-08-24 23:56] ozak commented on #76
@perrygeo Sure, that sound perfectly fine. I was actually planning on something similar, tough I had had not time to do it. After the addition of the option to produce ``mini_rasters`` it seemed this would be a perfectly fine and simple way of having both modules interact.

[2015-08-25 05:19] foobarbecue opened #77 "pip install fails for lack of cpl_conv.h"
On Kubuntu 14.04,
```$ sudo apt-get install python-numpy python-gdal```
```$ sudo pip install rasterstats```
leads to
[code]

[2015-08-25 05:27] foobarbecue commented on #77
Just needed to apt-get install libgdal-dev .

[2015-08-25 13:27] perrygeo commented on #76
resolved in 481783623c344c65221955dd560b089a0c6d6e1a

[2015-08-25 13:27] #76 closed

[2015-08-25 13:28] perrygeo commented on #77
Thanks for the note, I'm working up some more detailed installation docs in #72 and this will help.

[2015-08-25 13:28] #77 closed

[2015-08-25 13:38] #72 closed

[2015-08-25 13:54] perrygeo commented on #71
Removing geopandas and scipy from the dev dependencies was a huge win for build times and reducing complexity of the travis config. See 02fc633269632b57424f619a4fbe205855c02657

[2015-08-25 13:54] #71 closed

[2015-08-25 13:58] perrygeo commented on #75
The latest master is completely free of `osgeo.*` imports as of ed2a4d953459828168a740d1db53ddc0d2a33273

[2015-08-25 13:58] #75 closed

[2015-08-25 14:10] perrygeo commented on #74
closing as dup of #69

[2015-08-25 14:10] #74 closed

[2015-08-25 14:13] perrygeo commented on #69
Possible signature

[code]

Where interpolate can be one of 'bilinear', 'cubic', 'nearest'

Features can be points ... but deconstructing linestrings and polygon rings might also be an option.

[2015-08-25 14:17] perrygeo commented on #12
The are two concerns here:

1. Densifying the line to get evenly spaced vertices.
2. Doing a point query at each vertex.

The first is out of the scope of this package. The second will be handled by #69

[2015-08-25 14:17] #12 closed

[2015-08-25 14:23] perrygeo commented on #6
Currently [the readme](https://github.com/perrygeo/python-rasterstats#working-with-categorical-rasters) says it's up to the programmer to do this. I think we should stick with that idea; re-mapping the keys is out of scope.

But it's easy enough and common enough that we'll want to include an example in the manual or wiki page:

[code]

[2015-08-25 14:28] perrygeo commented on #58
Working towards it with 64411815a3a9392758e0d34c1712e8a724cbc293 , consolidating with #57

[2015-08-25 14:28] #58 closed

[2015-08-25 15:28] #6 closed

[2015-08-25 16:15] perrygeo commented on #47
Results of profiling below.
* Looks like the numpy aggregate functions take up most of the time.
* The zonal_stats function itself is expensive but only called once
* rasterio reads take a little time without global_src_extent, but not worth optimizing for
* rasterize is pretty quick
* Not sure what's up with the collections ... maybe the count stat?

[code]

[2015-08-25 16:15] #47 closed

[2015-08-25 17:35] perrygeo opened #78 "Faster pixel counts"
Based on the #47 results, `Counter` was a bottleneck.

There's a better alternative:
[code]

[2015-08-25 17:35] perrygeo opened #79 "When no pixel, all stats should be None"
With the exception of:
* `count` which should be `0`
* any user-defined stats (that's up to the function) to decide
* mini-raster output still functions as usual

[2015-08-25 17:52] #78 closed

[2015-08-25 17:52] #79 closed

[2015-08-25 17:54] perrygeo commented on #10
I no longer have access to some of the proprietary tools that I wanted to test against. Maybe someday I'll have an interest in this but...

[2015-08-25 17:54] #10 closed

[2015-08-26 16:40] perrygeo commented on #57
The **geojson out** (compared to our current list of dicts) would be too extreme an API change as most integration points have been built around that output. As an alternative, we could follow the lead of the CLI which relies on `util.combine_feature_results`. We just need to test and document that function.

The **geojson in** is already supported and if they don't supply a feature collection map

[2015-08-26 16:40] #57 closed

[2015-08-26 18:26] perrygeo commented on #15
Work started on `count_nulls` branch.

The downside to this approach is that nulls requires creation of another MaskedArray and recount which slows things down a bit. Might be a better way?

[2015-08-26 18:52] #15 closed

[2015-08-27 01:18] fgassert opened #81 "cli should be able to accept any vector input that can be read by rasterstats.io.read_features (not just geojson feature collection)"
Perhaps you have a reason for only accepting feature collections, but this would be handy!

e.g. mapshaper -dissolve dumps to a single multipolygon in geojson as output, so won't be accepted as input.

[2015-08-27 01:34] perrygeo commented on #81
I think the CLI interface should be limited to GeoJSON for now (for interop with turf and fiona CLI). But there's no reason it should be limited to FeatureCollections only.

We should attempt to support Features and Geometries in addition to FeatureCollections. Thanks for noting this, I'll look into it shortly.

[2015-08-28 13:23] perrygeo commented on #81
@fgassert That commit will allow geojson inputs but still outputs a FeatureCollection in every case.

Single geometries and features will result in a FeatureCollection of a single feature with zonalstats properties.

In terms of getting other input formats, I'd rather defer to a tool specializes in vector IO (ogr2ogr, fio, turf, etc) to get whatever other data into geojson.

[2015-08-28 20:37] fgassert commented on #81
Excellent. Thanks!

[2015-08-31 04:02] foobarbecue opened #82 "If given paths as unicode strings, tries to parse path as a geo object"
`myout = zonal_stats(u'/path/to/myvec.shp', u'/path/to/myrast.tif')`

[code]

[2015-08-31 13:40] #82 closed

[2015-08-31 13:44] perrygeo commented on #82
Thanks for the report! Apparently I've become accustomed the default unicode support in Py3. let me know if this work for you.

[2015-08-31 16:39] perrygeo commented on #1
I've got a start in `sphinx_docs` branch, mostly just moving over info from README.

Still need to
[ ] Address TODOs and fill out many sections
[ ] Automate build, incl API docs
[ ] Automate publishing (gh-pages?)

[2015-08-31 16:49] perrygeo commented on #64
Reopening as I think we should use Affines everywhere internally for consistency with rasterio. Passing around two styles of transforms is just confusing.

- [ ] make `affine` an alias for `transform` and issue deprecation warning
- [ ] if `transform` is GDAL-style, issue deprecation warning but convert `Affine.from_gdal`
- [ ] all transform handing in `main` and `utils` (incl `rasterize_geom`, `b

[2015-08-31 17:36] perrygeo opened #83 "multi-layer vectors"
In switching from osgeo.ogr to fiona, I inadvertently dropped support for multilayer vectors

[Fiona supports it](https://github.com/Toblerity/Fiona#reading-multilayer-data) so it should be easy.

Change from `layer_num` to `layer` for consistency and clarity (it can be a name not just a number)

[2015-08-31 17:50] #83 closed

[2015-09-01 00:03] foobarbecue commented on #82
That fixes it, thanks. Gosh Py3 sounds nice.

[2015-09-11 19:59] perrygeo opened #86 "Raster abstraction"
The need to support in-memory arrays *and* paths to rasterio data sources caused quite a bit of clutter. Also we resort to storing all the metadata in separate variables (e.g. `rtype, rgt, rshape, global_src_extent, nodata_value`) and a lot of branched conditions. Also, with raster paths and the global_src_extent set to False, we end up opening the dataset on each feature! Smells like a refactor m

[2015-09-11 20:40] perrygeo opened #87 "Fix zonal_stats for points with all_touched"
When queries use all_touched, it's possible (using our buffer method) for a point to rasterize to more than one cell.

Instead we want to find the pixel, construct a bbox and possibly negative buffer it by a small amount to ensure that it intersects one and only one cell.

[2015-09-11 20:45] perrygeo opened #88 "Migration guide for backwards-incompatible changes"
Either wiki or sphinx docs

There are a number of small API changes that we should note after the inclusion of #86
- mini_raster_GT becomes mini_raster_affine
- use of affines vs geotransform tuples
- removal of georaster (show how to achieve it manually)
- removal of global_src_extent - document the alternative
- removal of  `__fid__` - alt, use geojson output to preserve feature ids (need to tes

[2015-09-11 21:31] perrygeo opened #89 "Investigate returning generator instead of list"
API implications for sure. Any speed or memory use gains? Need to profile and discuss tradeoffs.

[2015-09-11 21:36] perrygeo opened #90 "Rasterization pixel overlap strategy"
In addition to all_touched vs centroid, there's the possibility of using a partial pixel coverage to e.g. select cells with > X% overlap.

See the discussion at mapbox/rasterio#232 and a [proof-of-concept implementation](https://gist.github.com/perrygeo/721040f8545272832a42#file-pctcover-png)

The core functionality of calculating pixel weights probably belongs in GDAL or rasterio but could also l

[2015-09-14 12:40] perrygeo opened #91 "geojson_out option"
Would be nice to have a built in GeoJSON output as an alternative to the "list of dicts" output.
This would not add much code to zonal_stats as we're already working with `Feature` internally. This would simplify the CLIs greatly.

Would also allow us to remove `__fid__`, `copy_properties` option, and `combine_zonal_results` util function.

[2015-09-14 13:04] #86 closed

[2015-09-14 13:19] #69 closed

[2015-09-14 13:19] #87 closed

[2015-09-14 13:20] #64 closed

[2015-09-14 14:43] #91 closed

[2015-09-14 15:57] perrygeo commented on #88
resolved with https://github.com/perrygeo/python-rasterstats/wiki/Migrating-to-1.0

[2015-09-14 15:57] #88 closed

[2015-09-14 15:59] perrygeo opened #95 "CLI for point_query"

[2015-09-14 16:00] perrygeo opened #96 "release details"
Pending release of rasterio 0.27, we need to switch requirements back to `rasterio>=0.27` instead of master.

Need to fix coveralls too.

Also probably a good opportunity to use containers and cached wheels in our travis build.

[2015-09-16 15:59] perrygeo opened #97 "netCDF support"
netCDF support in GDAL/rasterio leave something to be desired.

The [netcdf4-python](https://github.com/Unidata/netcdf4-python/blob/master/examples/reading_netCDF.ipynb) module would be a big improvement and allow for native access to netcdf files as well as GRIB2 and OpenDAP, in a more robust way.

Most likely depends on #73

[2015-09-16 16:39] brendan-ward commented on #97
Possibly relevant: we've been working on a mostly netCDF focused library called [clover](https://github.com/consbio/clover) that builds on top of the netcdf4 library as well as rasterio, etc.  We work with netCDF a lot, and found that netcdf4 gave us what we needed at a lower level, but we needed a bunch of utility functions that sit on top of that to get our work done.  (warning: it is still earl

[2015-09-16 16:52] perrygeo commented on #97
@brendan-ward  I'll have to check out `clover`. I think netCDF direct might work as all I need to do is get the metadata to construct an affine transform and do indexed I/O. All of the window logic, bounds->index transforms, etc. happens internal to rasterstats already.

Of course the tricky part with netcdf files tends to be the longitude wrapping (0 to 360), subdatasets and the inverted y axis -

[2015-09-16 17:07] brendan-ward commented on #97
Clover handles those issues in abstractions that I put on top of coordinate dimensions:
* [affine](https://github.com/consbio/clover/blob/master/clover/netcdf/variable.py#L269)
* [y direction](https://github.com/consbio/clover/blob/master/clover/netcdf/variable.py#L144): flipping if necessary based on the operation involved, e.g., for passing array into [Pillow for rendering to PNG](https://github

[2015-09-16 17:40] perrygeo commented on #97
That looks great! The y-direction and affine methods will come in very handy. When I get around to this I'll definitely give clover a whirl.

Currently I'm just handling all of it with VRTs to deal with the quirks of the GDAL netcdf driver. It's quite amazing that you can handle most things like y direction, longitude wrapping, transforms, etc in an xml wrapper! But quite disappointing that you ne

[2015-09-16 20:14] perrygeo opened #98 "Inverted Y axis datasets not handled correctly"
If you have a dataset with inverted y axis (i.e. the `affine.e` parameter is positive) a lot of assumptions are broken since North is no longer "up".

The `bounds_window` must return row_start < row_stop due to rasterio design. So why not internally convert to north-up on read? The `window_bounds` functions always return w,s,e,n and we'd just need a few conditionals to ensure new_array was a north

[2015-09-21 17:56] perrygeo opened #99 "Handle NaNs as nodata"
Per https://github.com/mapbox/rasterio/issues/83#issuecomment-44629443

Since rasterstats does it's own masking, we can apply this logic anywhere we call `np.ma.MaskedArray`, effectively treating NaNs as implicit nodata values.

Initial experiment in `nan` branch was unsuccessful, need to investigate why

[2015-09-25 09:47] perrygeo opened #100 "CLI streaming"
like the `fio` commands, it would be nice stream features rather than process all at once. The [`fiona.helpers.obj_gen`](https://github.com/Toblerity/Fiona/blob/master/fiona/fio/helpers.py#L13) function might be useful here. zonatstats would also need to yield rather than return (see #89)

[2015-09-25 09:47] perrygeo commented on #89
What about optionally yielding vs returning. `yield=True`?

[2015-09-26 10:27] #95 closed

[2015-09-26 19:30] perrygeo commented on #96
done and done

[2015-09-26 19:30] #96 closed

[2015-09-26 19:48] perrygeo commented on #100
Also, see discussion in rasterio and fiona re: chaining click commands. May inform how we proceed.

https://github.com/geowurster/fio-geoprocessing/pull/2
https://github.com/Toblerity/Fiona/issues/273#issuecomment-142368499
http://click.pocoo.org/5/commands/#multi-command-pipelines

[2015-09-27 18:29] perrygeo commented on #1
https://pythonhosted.org/an_example_pypi_project/buildanduploadsphinx.html#using-sphinx-pypi-upload

[2015-10-07 16:55] perrygeo commented on #73
Work started in `multiband` branch

Still need:
* [ ] bands for arrays (right now we assume 2D)
* [ ] check for 2 or 3D (4D not supported)
* [ ] deprecate, document the `band_num` to `band` change
* [ ] categorical by band?
* [ ] nodata by band?
* [ ] additional stats - apply by band or let the function implement the handling or bands?
* [ ] when all bands specified, read raster meta instead of as

[2015-10-12 15:11] maxalbert opened #102 "`rasterstats.__version__` attribute not present"
It seems that there is no `rasterstats.__version__` attribute, which makes it difficult to quickly check the installed version from within Python. It would be great if this could be provided. Thanks!

[2015-10-12 15:22] perrygeo commented on #102
:+1: agreed, I'll add to the next version. Gotta find a way to avoid hardcoding the version string in multiple places but I'm sure someone has solved it.

[2015-10-12 15:51] perrygeo commented on #73
[Bummer](http://stackoverflow.com/questions/30209624/numpy-mean-used-with-a-tuple-as-axis-argument-not-working-with-a-masked-arr)

[code]

[2015-10-12 15:51] maxalbert commented on #102
I think some packages keep a separate file (e.g. `version.py`) which only contains the version string and then add some logic to import that in `__init__.py` and wherever else you need it.

This page collects a bunch of possible solutions: http://python-packaging-user-guide.readthedocs.org/en/latest/single_source_version/

[2015-10-12 16:46] #102 closed

[2015-10-12 16:48] perrygeo commented on #102
I just released 0.9.2 which should have the __version__ attr. Thanks @maxalbert !

[2015-10-12 17:16] maxalbert commented on #102
Wow, that was lightning fast! Thanks! :)

[2015-10-13 11:27] perrygeo commented on #73
There is an open PR (https://github.com/numpy/numpy/pull/5706) that serves as a proof of concept fix. This would need to be applied to all the functions used by the stat:

min, max, mean, count, std, sum, median, unqiue, percentile

Maybe looping through the bands is the only viable approach for now - even if we could make those changes and get them merged, it will be a while before they make it i

[2015-12-12 23:41] perrygeo commented on #100
Once https://github.com/mapbox/cligj/pull/9 is merged, we can adopt the model suggested there.

[2015-12-16 07:09] jhamman commented on #90
+1 on this.

[2015-12-18 02:08] debboutr opened #104 "count statistic?"
I'm wondering about the count statistic...this should be a count of all the cells of the raster in the given feature correct?

[2015-12-18 10:03] perrygeo commented on #104
@debboutr it's a count of the cells containing data - cells with nodata are not reflected.

[2015-12-18 10:53] perrygeo opened #105 "nodata count includes non-overlapping cells"
For each feature, there are three types of cells: data, nodata, and non-overlapping. Nodata and non-overlapping get lumped together in the `nodata` statistic.

Was this always the case? Was the bug introduced in an attempt to optimize?

* [ ] write a failing test case for the partial overlap case
* [ ] fix it

[2015-12-18 18:43] debboutr commented on #104
I'm getting some strange results in the count field for some reason the values are too low. You can download the files that I am working with below if you want to give it a try.  Below is an image of the highest count values that I am getting in the returned list of dictionaries after running the Catchment shapefile with the clay raster in the rasterstats function.  There is a .py script in the fi

[2015-12-18 19:37] perrygeo commented on #104
I'm not sure what leads you to believe that `zonalstats_Catchment.csv` is correct. It's most certainly wrong, or at least it's not is the same order as the `Catchments.shp` you provided or run against a different raster or something.

In `zonalstats_Catchment.csv`:
[code]
So the first feature covers 1390 pixels?

The raster pixel size is 1000 m or 1 sq km. That would mean the area of the first pol

[2015-12-18 19:37] #104 closed

[2015-12-18 20:03] perrygeo commented on #104
@debboutr - just out of curiosity, where did you get that soil data? If you need the data internationally for the catchments in canada you could check out http://www.fao.org/soils-portal/soil-survey/soil-maps-and-databases/harmonized-world-soil-database-v12/en/

[2015-12-19 14:19] kmoses45 commented on #98
Is this what could be causing 'ValueError: negative dimensions are not allowed' in zonal_stats(vector, raster, categorical=True)?

[2015-12-19 14:21] perrygeo commented on #98
Possibly. Try `rio info` on the raster and check the transform.

[2015-12-19 15:04] kmoses45 commented on #98
"transform":[1.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Both vector and raster are in EPSG:4326

[2015-12-19 16:02] perrygeo commented on #98
With that transform, it's likely that your data lacks georeferencing according to rasterio/GDAL. That's the identity transform and is unlikely the true transform for your data unless you have exactly 1 degree cells with the upper left corner at lat 0, lon 0.

To your original question re: "ValueError: negative dimensions not allowed" - it's likely related but I'm not sure. Any way you could make t

[2015-12-20 00:24] kmoses45 commented on #98
Ah, that's it! I was using an .ovr file that was georeferenced in Arc.  Converted to .tif, georeferenced, and now it works.  Thanks for the help.  Rasterstats is an awesome module!

[2015-12-20 20:53] perrygeo commented on #81
I'm attempting to move the the input handling out of this module in favor of handling geojson inputs with a [`cligj`](https://github.com/mapbox/cligj). The only problem is that cligj doesn't support geometry inputs, only features and featurecollections.

There is a workaround, you can use [`jq`](https://stedolan.github.io/jq/) to wrap a geometry in a feature.
[code]
@fgassert Does this work for yo

[2015-12-21 22:03] perrygeo commented on #81
Either the jq route or the cligj route will ultimately be the solution here. We don't need to block rasterstats with this.

[2015-12-21 22:11] #81 closed

[2015-12-21 22:11] #89 closed

[2015-12-21 22:11] #100 closed

[2015-12-23 18:59] demiurg opened #107 "memoryerror exception on raster file in specific projection"
I have a very simple test case, a shapefile, and a raster file in a latlon grid projection. When running stats function it generates an exception:

[code]

The test data are in
http://oka.ags.io/scratch/

failing code is
[code]

working code on reprojected data works
[code]

version is '0.10.0'

[2015-12-23 19:04] perrygeo commented on #107
@demiurg Very strange. The data is small enough so I can't figure out why there might be a memory error. Looking into it...

[2015-12-23 19:05] demiurg commented on #107
yeah, its downright tiny, and i have 140mb file in another projection processing in 2s. it's probably a seg fault of some kind

[2015-12-23 19:07] demiurg commented on #107
Also, it happens on both linux and osx.

[2015-12-23 20:08] perrygeo commented on #107
I can reproduce this. It's due to a projection mismatch: the raster is in latlon WGS84 projection while the shapefile is in Albers. `rasterstats` assumes that your data is in the same projection and will try to read the data in from the raster as specified on the cartesian coordinate system - which in this case means allocating a gigantic array of nodata.

To fix, I'd suggest projecting the `RRD.s

[2015-12-23 20:08] #107 closed

[2015-12-23 20:19] demiurg commented on #107
wow, thanks so much for looking into this. I can understand the comment, but it seems like it's also a good idea to deal somehow with exceptions that can arise when these projection mismatches occur. perhaps a size of the zone in the reference raster projection can be sanity checking not to be more than a thousand times the area. or perhaps on exception spatial extents and/or projection info can b

[2015-12-23 20:33] perrygeo commented on #107
Comparing projections isn't currently viable because there's no reliable way to do it and it's not required that inputs have a projection defined. It'd be great to have a solution to this but it really doesn't exist and, if it did, would belong in a different library.

We can't compare spatial extents up front since many input methods allow for streaming iterators (the spatial extent of the full d

[2015-12-23 20:35] demiurg commented on #107
yeah, I think it would catch a few and help optimize, I'll definitely look at that ticket!

[2015-12-23 20:43] perrygeo opened #108 "Don't read raster if geometry bounds don't overlap"
In #107, @demiurg suggested some sort of catch for misaligned projections.

We can't compare spatial reference systems, that functionality doesn't currently exist: See https://github.com/perrygeo/python-rasterstats/issues/26#issuecomment-64965255.

We could compare spatial extents at a geometry level - add some logic that says "don't even bother reading the raster if the geometry extent doesn't ov

[2016-01-04 15:49] sgoodm commented on #90
would be interested in seeing a performance comparison of your proof-of-concept with a similar implementation in R's [raster](https://cran.r-project.org/web/packages/raster/index.html) package (see extract function with weights option)

[2016-01-04 20:13] sgoodm commented on #90
i went ahead and used your proof-of-concept to replicate the functionality of the R package. initial testing produced identical results and was about 7.5x faster than R.

https://github.com/sgoodm/python-rasterstats/tree/cell-weights

[2016-01-04 23:19] perrygeo commented on #90
@sgoodm Very interesting. I don't have time to take a detailed look this week but I hope to check this out soon. Thanks for moving this forward!

[2016-01-16 10:46] LorenzoBottaccioli opened #110 "Geopandas and Zonal Statistic error"
I run this code
[code]
but I get this error:
[code]
The data frame looks like this:
[code]
Any suggestion how to solve this problem?

[2016-01-16 11:26] perrygeo commented on #110
Thanks for the bug report. I will look into it this weekend.

What version of rasterstats, geopandas and pandas are you using?

[2016-01-16 11:58] perrygeo commented on #110
I can confirm that this is occurring on the latest master. The geopandas test was not sufficient to catch this error so I will make a proper test and get this working shortly.

[2016-01-16 12:19] perrygeo commented on #110
@LorenzoBottaccioli Thanks for the bug report! This should be fixed now in master, I'll make a point release shortly with the fix.

[2016-01-16 16:11] LorenzoBottaccioli commented on #110
Welcome! @perrygeo Can you please let me know when the bug will be fixed or how to fix it by my own?
Thanks

[2016-01-16 19:16] perrygeo commented on #110
@LorenzoBottaccioli upgrading to version 0.10.2 should fix the issue. `pip install -U rasterstats` (or pull the latest git master if installing from source)

[2016-01-17 13:18] perrygeo opened #111 "release as wheels"

[2016-01-18 09:05] LorenzoBottaccioli commented on #110
@perrygeo upgraded to version 0.10.2. Download the zip file from git hub and installed with `sudo python setup.py install` but the error persist.

[2016-01-18 09:28] LorenzoBottaccioli commented on #110
@perrygeo I'm usign `geopands v 0.1.1` `pandas v 0.13.1` `rasterstats v 0.10.2` `fiona 1.6.3` `rasterio 0.31.0` and `numpy 1.8.2`

[2016-01-18 13:04] perrygeo commented on #110
I cannot reproduce the error. Please try the following in your console and let me know what you see (all of the data is in this repo at `tests/data/`)

[code]

If the above works but your data does *not*, then it is a separate issue and I'll need your help in providing code and test datasets to reproduce it. Thanks!

[2016-01-18 13:21] LorenzoBottaccioli commented on #110
@perrygeo This is what i get:
[code]

[2016-01-18 13:55] perrygeo commented on #110
OK, I've confirmed that error by installing geoapandas verson `0.1.1`. The issue has been resolved in geopandas master branch for over a year but unfortunately that project has not made an official release since 2014.

Until we get a new geopandas release, the solution is to install geopandas from the master branch
[code]

[2016-01-18 13:55] #110 closed

[2016-01-18 15:53] LorenzoBottaccioli commented on #110
@perrygeo Ok now it works. Just one last thing..why i don't get the `__fid__` in results of `zonal_stats(gdf, 'tests/data/slope.tif')`?

[2016-01-18 15:59] perrygeo commented on #110
the `__fid__` was dropped in 0.9 since it was redundant (the ith dictionary in the the returned list is just `fid == i`). You can use `enumerate()` if you need the index or `geojson_out` if you need feature attributes.

[2016-01-18 16:00] perrygeo commented on #110
@LorenzoBottaccioli and thanks for working with me through this bug report. hopefully we'll get new geopandas release shortly!

[2016-01-31 22:15] sgoodm opened #112 "np.unique return_counts option requires numpy>=1.9"
requirements currently only enforce numpy>=1.8

https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.unique.html

[2016-02-05 01:07] postfalk opened #113 "Allow for raster instances as arguments for zonal_stats"
Raster.__init__ currently allows for passing file names and numpy arrays. Why is it not possible to pass actual GDAL raster instances?

I might work on this.

[2016-02-05 01:15] perrygeo commented on #112
@sgoodm Nice catch! If we bump the requirement to `numpy>=1.9` do you think that will cause an issue for anyone?

[2016-02-05 01:26] perrygeo commented on #113
By "GDAL raster instances" are you referring to objects of type `rasterio._io.RasterReader`?

Support for the `osgeo.gdal` python module was dropped in 0.7 with no plans to bring it back. Long story made short: `osgeo` python bindings are not suitable for production systems due to side effects of simply importing them. See

* https://github.com/Toblerity/Fiona/issues/92
* https://github.com/geopan

[2016-02-05 14:44] sgoodm commented on #112
i took a quick look at the 1.9 release notes and nothing stood out. there were some changes to percentiles and mask fills but they shouldn't cause any problems.

for reference:
https://docs.scipy.org/doc/numpy-1.10.1/release.html#numpy-1-9-0-release-notes

[2016-02-05 18:17] postfalk commented on #113
Oh, I overlooked that rasterio doesn't rely on the python gdal binding. Sorry, for not looking this up thoroughly enough. I wish the documentation for rasterio would be better just gave up on implementing my workflow in rasterio and thought I could cut a corner. Thank you for you immediate response.

[2016-02-05 18:17] #113 closed

[2016-02-05 18:34] perrygeo commented on #113
We're working on improving [rasterio docs](https://github.com/mapbox/rasterio/issues?q=is%3Aissue+is%3Aopen+label%3Adocs) for a 1.0 release later this year. It would be extremely helpful if you could point out where you got hung up, maybe share your gdal script so we can clarify how to do the same task is rasterio. Thanks @postfalk !

[2016-02-05 19:43] perrygeo commented on #112
Thanks! Closed in 0cf1586603ed151c40f2ddda5ec30a17bdf8d0e1

[2016-02-05 19:43] #112 closed

[2016-02-08 19:24] postfalk commented on #113
It was just the basic raster creation from scratch (well an two dimensional Numpy array). Something like

[code]
I managed to create a tif file in rasterio with these parameters, but the values were all zero and the resolution not right either. I do not have this code on hand but I could try to reproduce if you like.

I am also aware of the fact that statistics can be done directly on a numpy arra

[2016-03-11 08:56] abersh commented on #27
when upload .tif file to geonode "NoneType' object has no attribute 'GetGeoTransform' " how to fix pls anyone

[2016-03-11 11:24] perrygeo commented on #27
@abersh You mention geonode and GetGeoTransform (a GDAL call) which are two unrelated software projects. If you have a question about rasterstats, please specify in more detail and open a new ticket. Thanks.

[2016-03-11 11:37] abersh commented on #27
@perrygeo now i'm using geonode when uploading raster data in geotiff format  the system displayes this erorr  **"NoneType' object has no attribute 'GetGeoTransform' " **

[2016-03-11 11:40] perrygeo commented on #27
Sorry @abersh , this repository is for python-rasterstats issue only. If you have geonode questions, please take them to the appropriate site: https://github.com/GeoNode/geonode/

[2016-03-11 11:44] abersh commented on #27
@perrygeo thank you !!!

[2016-03-14 16:30] LorenzoBottaccioli opened #114 "Numpy array zonal_stat"
Hi,

Is it possible to pass to zonal_stats an numpy array objcet like:

[code]

If I run this code I get:

ValueError: Must specify affine for numpy arrays

**Edit 1:**
Hi,

I have gone a littele bit forward, but I still get errors:

[code]

But I get this error:
[code]

[2016-03-25 22:29] perrygeo commented on #114
@LorenzoBottaccioli the raster input to zonal stats must be an instance of the [`Raster` class](https://github.com/perrygeo/python-rasterstats/blob/master/src/rasterstats/io.py#L193) which abstracts the differences between a raster on disk and a numpy array.

So in this example, `r1` and `r2` can be passed to zonal stats with the same results

    r1 = Raster(raster)

    with rasterio.open(raster

[2016-03-25 22:41] perrygeo commented on #114
Three issues with the code above:
* try leaving off the `transform` argument (that's the deprecated GDAL-style transform)
* the argument for `affine` needs to be an *instance* of an affine object, not the class itself. (see http://www.perrygeo.com/python-affine-transforms.html for more on affines and transforms)
* importing `osgeo.gdal` in the same process as `rasterstats` is discouraged - they be

[2016-03-25 22:49] debboutr commented on #114
shouldn't it be..
geodf=gpd.read_file("mysph",crs='4326').drop('Atr',axis=1)

above

[2016-03-25 22:55] perrygeo commented on #114
possibly? I was just copying @LorenzoBottaccioli's code above so he could comment on that

[2016-03-25 23:13] marsmith opened #115 "Issue with categorical rasterstats"
Following the tutorial here to get raster stats I'm getting a python error:
http://blog.perrygeo.net/2013/09/24/python-raster-stats/

runStats.py:
[code]

error:
[code]

if I remove the "categorical=true" argument from runStats.py I get stats so I'm pretty sure my input and raster are fine:
[code]

Running clean install of rasterstats on ubuntu 14.04
any ideas on this?  Seems like I'm using pretty

[2016-03-26 00:02] marsmith commented on #115
Resolved this.  Turns out my numpy version was <1.9 which is a requirement for this "return_count" argument in np.unique().  fixed with force upgrade of numpy

[code]

[2016-03-26 12:31] perrygeo commented on #115
Recent versions of rasterstats have a hard requirement for `numpy>=1.9` so it will be more clear at install time.

[2016-03-26 12:31] #115 closed

[2016-03-26 12:32] #114 closed

[2016-03-26 12:47] #111 closed

[2016-03-26 16:33] #1 closed

[2016-03-27 17:30] #99 closed

[2016-04-05 19:29] max-nova commented on #90
+1   I've been hacking my own solution for this and a bit surprised that there doesn't seem to be a good standard solution for computing pixel weights efficiently.

[2016-06-29 00:19] Jenders74 opened #118 "rasterstats/gdal interaction: Unable to perform coordinate transformations"
Importing rasterstats before opening a grib file with gdal like this:

[code]

makes the grib file lose its projection/spatial reference system:

Removing the import rasterstats statement and running the rest from a fresh interpreter works fine.

I got the grib file like this:

[code]

Python 3.4.4
rasterstats 0.10.3
gdal 2.0.0

Not sure of this is a rasterstats issue or a gdal issue.

[2016-06-29 12:33] perrygeo commented on #118
`osgeo.gdal` python bindings use global state and cannot be used safely with other modules that link to `libgdal` such as Rasterio (upon which rasterstats depends).

You can recreate the same issue by using `import rasterio` or any other module which links to libgdal. I'm closing this ticket as it's not directly related to rasterstats but I'd encourage you to open a ticket in Rasterio: https://git

[2016-06-29 12:34] #118 closed

[2016-07-03 18:04] ozak opened #119 "ValueError raised when non-overlapping geometry and raster"
Hi @perrygeo,

it seems the current version has trouble when intersection the shape with a rester, when they do not overlap. In the old version one would get a ``None`` for all stats, but in the current version it raises the following error message:

    ValueError: could not broadcast input array from shape (1398,3) into shape (2,3)

I tried running the same code and data using a version of raste

[2016-07-03 18:12] perrygeo commented on #119
@ozak Can you provide some data to reproduce? I'd like to get this case in the unit tests and get it fixed asap.

[2016-07-03 18:33] ozak commented on #119
Here's the [https://www.dropbox.com/sh/1y85js02s1mzjic/AACrK7RRqyf5AIX3ZGiF8DNWa?dl=0](data) the code to replicate it is

    from rasterstats import zonal_stats
    stats = zonal_stats('./PRT_adm3.shp', 'Fusca.tif', copy_properties=True, all_touched=True)

Although one could think that part of the problem comes from the size of the geometries (much smaller than the cells), and indeed using larger

[2016-07-03 19:13] perrygeo commented on #119
Thanks @ozak, I downloaded the data and have a few questions

It looks like the shapes (Europe) do not intersect a valid data cell for that raster (Africa).

![screen shot 2016-07-03 at 3 10 43 pm](https://cloud.githubusercontent.com/assets/1151287/16547105/78c18fc8-4130-11e6-91ff-420e334647e4.png)

 In this case, we'd expect to see every `stats` item with a count of `0` and `None` for the stats.

[2016-07-03 19:27] perrygeo commented on #119
Here's the code I used to confirm. Note that it does not raise an error and ll the counts are zero

[code]

[2016-07-03 19:33] sgoodm commented on #119
pretty sure this is a bug from an older version of rasterio. try updating it

[2016-07-03 21:02] ozak commented on #119
Indeed...I updated to ``rasterio-0.36.0`` and it worked fine. Thanks!

[2016-07-03 21:12] #119 closed

[2016-07-04 01:53] foobarbecue opened #120 "multicore?"
Is it possible to take advantage of multiple cores when calculating zonal statistics? If not, could this feature be added?

[2016-07-04 12:02] perrygeo commented on #120
I played around with the idea of implementing multi-process parallelism internally but decided against it (for now) because it added significant complexity to the core functions.

Since each vector feature can be analyzed independent of other features, you can achieve parallelism by running several operations over subsets of your vector data and joining the lists.

I added an example of such usage

[2016-07-04 14:42] foobarbecue commented on #120
Great! Thanks for the example -- I think that method will work for all of my applications.

[2016-07-04 14:42] #120 closed

[2016-07-06 16:23] rmuellerjr opened #121 "Rasterstats install on Anaconda"
I seem to be having trouble installing rasterstats successfully in the windows 64bit environment (Windows 7 or Server 2012). I am currently using Anaconda (python 2.7,also tried 3.4) to install, with either the rasterio install instructions (pip install GDAL-2.0.2-cp27-none-win32.whl and rasterio-0.34.0-cp27-cp27m-win32.whl) or via conda forge (https://github.com/conda-forge/rasterio-feedstock).

[2016-07-06 19:26] perrygeo commented on #121
Can you can confirm that Rasterio is working properly? I've had mixed results with the quality of the conda-forge builds.

And can you provide a more detailed traceback as a gist? I'd like to see what specifically is failing in setup.py. There is no mention of "GeoVersion" or "GdalVersion" nor any setup-time dependencies so I suspect it's related to packaging of one of rasterstats dependencies.

[2016-07-18 05:10] phobson commented on #121
FWIW, it appears the GDAL/rasterio/fiona debacle in conda-forge has been straightened out. Mistakes were made. Lessons learned.

@rmuellerjr can you try again in a fresh environment?

[2016-07-18 14:49] perrygeo commented on #121
@phobson out of curiosity, is there a post-debacle summary of the mistakes and lessons? I've read bits and pieces but still don't have a big picture sense of what went wrong and what we can do to prevent it from happening again.

[2016-07-18 18:00] phobson commented on #121
My understanding is that a compiler-linker-helper-doohickey[1] package called `toolchain` was created and deployed as a dependency to a bunch of python packages with built C-extensions. Short version is that `toolchain` didn't quite work as a expected. Debugging and getting it fixed took a bit of time.

[1]

--Lucille Bluth

[2016-07-18 18:02] phobson commented on #121
Oh -- That was the mistake. The lesson is that conda-forge now has an "enhancement proposal" policy/workflow that will provide a way to test out these more ecosystem-wide changes before (potentially broken) packages get uploaded to the channel.

I don't know if any other this is formally codified yet. I heard that this came out of discussions at the SciPy conference.

[2016-07-18 19:31] perrygeo commented on #121
thanks for the info @phobson

@rmuellerjr - I'm going to close for now, if you're still having issues, please re-open with details. Thanks!

[2016-07-18 19:31] #121 closed

[2016-08-19 15:50] rmuellerjr commented on #121
@perrygeo - Thanks for looking into things. I'm finally getting back around to getting this figured out. I will re-open if necessary.

[2016-08-20 02:04] pwt-nf opened #123 "NAN in stats"
Hi,

Thanks for the great tool. Im having an issue wherein I get pixel counts but all the stats are `nan`. The raster is a `.tif` created in GRASS type is `Float64`. First attempt was with a multi-polygon and small areas worked. There are some `nodata` values that overlap with the json.

Let me know if I can provide anything to assist in troubleshooting.

`> rio zonalstats pine_creek/pc_prop.geojs

[2016-08-31 19:45] brendancol opened #124 "Question: caching intermediate operations."
Hey hey. Great stuff.

`Question:` When using `python-rasterstats` using one polygon and many rasters (or vice versa), do you see a clear spot where intermediate steps can be cached?  Examples: the rasterization of the polygon, or the reading of the value raster?

[2016-08-31 19:57] perrygeo commented on #123
Can you provide a small subset of the data to reproduce this? Generally if there are `NaN` in the float rasters, they *should* be treated as nodata and ignored (per https://github.com/perrygeo/python-rasterstats/pull/116).

[2016-08-31 20:47] perrygeo commented on #124
Hey @brendancol,

I'd say `rasterstats` is designed for the *many polygons, one raster* scenario so it's already fairly optimal - caching won't help much under that use case since you can already preload the raster into memory and each polygon needs to be rasterized independently.

Caching could potentially help with the *one polygon, many rasters* scenario. We could cache the rasterized geometry

[2016-09-01 02:28] lpinner opened #125 "Enable use of Fiona slice iterators"
I ran into the following exception when trying to run gen_zonal_stats on a Fiona feature layer Collection that had been filtered using `Collection.items` method (used for [slicing and masking](http://toblerity.org/fiona/manual.html#slicing-and-masking-iterators))

[code]

The `items` generator iterates over tuples of (FID, feature) rather than just the feature you'd get when iterating over the Col

[2016-09-01 03:10] perrygeo commented on #125
The function takes an iterable of features but it doesn't need to be a `list` per se. A generator would do the trick without realizing the entire dataset in memory:

    feature_items = feature_collection.items(bbox=(xmin, ymin, xmax, ymax))
    # Generator expression instead of list comprehension
    feature_items = (feat for i, feat in feature_items)
    results = rasterstats.gen_zonal_stats(fea

[2016-09-01 18:59] sgoodm commented on #90
Improved original method for calculating percent coverage of cells. Instead of using cell bounding box intersections, it now rasterizes features at a finer resolution than raster source (this scale can be provided as optional input arg) then aggregates back to raster resolution to estimate percent coverage. Quite a bit faster at reasonable scales (default scale value is 10, or 1 order of magnitude

[2016-09-01 20:49] pwt-nf commented on #123
Here's a [link](https://drive.google.com/file/d/0B9-9Vlx0SkkFaXZKRkN0c2pPMVk/view?usp=sharing) to the raster and geojson I was using. Thanks for looking into it!

[2016-09-02 11:47] perrygeo commented on #123
Thanks Peter, I can confirm the problem and will try to come up with a solution today or over this weekend.

[2016-09-02 15:46] pwt-nf commented on #123
Thanks Matthew!

On Sep 2, 2016 4:47 AM, Matthew Perry <notifications@github.com> wrote:

Thanks Peter, I can confirm the problem and will try to come up with a solution today or over this weekend.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_perrygeo_python-2Drasterstats_issues

[2016-09-03 13:27] perrygeo commented on #125
The vector arg to zonal_stats is already pretty loose in terms of what it accepts (file paths, geojson-like data, etc) and that puts lots of io logic inside of the this library instead of exterior to it where it should ideally belong. If anything I'm inclined to start trimming down the accepted vector types and moving the io to a separate lib. On the other hand, I'd gladly accept a PR which added

[2016-09-03 13:31] perrygeo opened #128 "test coverage"
this has slipped down to 98%, let's shoot for 💯

The current list of missing lines:

[code]

[2016-09-03 13:59] #123 closed

[2016-09-03 14:26] perrygeo commented on #105
Also, let's consider nans.

Here's an example, crudely drawn. The raster is 3 pixels tall with a nodata value of 0, the geometry covers 6 pixels.
![photo on 9-3-16 at 10 19 am](https://cloud.githubusercontent.com/assets/1151287/18225475/989d88ea-71c0-11e6-8377-0db36224db5c.jpg)

So the breakdown of cell counts should be
* 1 valid data cell
* 1 nodata cell
* 1 nan cell
* 3 non-overlapping cells

[2016-09-03 20:05] sgoodm commented on #105
i would track each type and then let the user decide how they are returned. group them by default with an option to return them separately

[2016-09-08 04:56] fri-end opened #129 "Wrong mean/std stats"
Hi,

I think there is an error in calculating mean and standard deviation in rasterstats 0.10.3
Here is the statistics calculated in ArcMap for my region:
**Band  COUNT   MIN MAX MEAN    STD MEDIAN**
1   151057  1378    2399    1584    71  1577
2   151057  1025    2753    1318    119 1305
3   151057  594 3271    1035    191 1014
4   151057  380 3636    854 223 826
5   151057  113 4225    753 252 7

[2016-09-08 05:34] fri-end commented on #129
UPDATE: when I convert the image from 16 bit unsigned to 32 bit float, _mean_ and _std_ are calculated correctly

[2016-09-08 11:58] perrygeo commented on #129
I'm not able to reproduce. Even with the `uint16` image (`test_2.dat`), I get results identical to the ArcMap results:

**Band	COUNT	MIN	MAX	MEAN	STD	MEDIAN**
1 151057 1378 2399 1584 71 1577
2 151057 1025 2753 1318 119 1305
3 151057 594 3271 1035 191 1014
4 151057 380 3636 854 223 826
5 151057 113 4225 753 252 718
6 151057 366 4869 1853 642 1808
7 151057 153 7181 2947 1099 2873
8 151057 121 5926 2

[2016-09-08 21:00] pwt-nf commented on #123
@perrygeo would this change be in the `pip` version?

[2016-09-08 21:21] perrygeo commented on #123
not yet as there are a few more issues to address before releasing version 0.11. I expect to have a release this weekend.

[2016-09-08 21:22] perrygeo opened #130 "alias band_num"
band_num recently changed to band in #117 - we should provide an alias for backwards compat

[2016-09-09 00:57] fri-end commented on #129
Thank for looking into this @perrygeo
Unfortunately my issue remains, and it's definitely not related to the use of a different raster. To make our comparisons easier I extracted just one band (`uint16`) (see: http://goo.gl/XYbIcJ) where after running:
`stats = zonal_stats('test.shp', 'band1.dat', stats="mean", nodata=0)`
 I'm getting 9556 instead of 37989. And as I said before, after converting `

[2016-09-20 06:01] lpinner commented on #125
Thanks @perrygeo - I used a list as the datasets are small and I have to reuse the features to run gen_zonal_stats on multiple rasters, but yes a generator would be fine if I was only reading the features once.

I had a look at io.py. I ended up with a last ditch attempt in the parse_feature func before the ValueError is raised. It worked, but just feels too hacky.

[code]

My real issue is that a

[2016-09-20 06:01] #125 closed

[2016-09-20 18:30] sgoodm commented on #130
added to pr #131

[2016-09-20 20:09] perrygeo commented on #130
Thanks @sgoodm

[2016-09-20 20:09] #130 closed

[2016-09-20 20:30] sgoodm commented on #129
what version of rasterio are you using? try updating that if needed

[2016-09-20 23:13] fri-end commented on #129
It's up-to-date (i.e. rasterio==0.36.0) and was installed using _rasterio-0.36.0-cp27-cp27m-win_amd64.whl_

[2016-10-01 11:28] perrygeo commented on #105
Implementation is a little trickier than expected, defering this to the 0.12 milestone

[2016-10-01 11:38] perrygeo opened #133 "Move docs off pythonhosted"
Use github pages instead.

[2016-12-07 11:00] owenscott opened #137 "Include selected polygon fields with output"
Just trying this module out for the first time - really awesome. Works well out of the box and clear documentation. Very excited that this exists!

Was wondering about the potential to include an optional argument to `zonal_stats` which specifies selected attribute fields from each polygon to include with the output. For instance, in my case I want to include a single ID attribute with each polygo

[2016-12-07 12:29] perrygeo commented on #137
@owenscott Thanks for the suggestion but I'm not interested in including something like this in zonal stats. What you're talking about is an attribute filtering operation. This library is only concerned with vector-on-raster computations. There is great value in building simple pieces that can be composed together, rather than a few big pieces that do everything.

IOW this is 👍
[code]

Because it

[2016-12-07 12:29] #137 closed

[2016-12-13 19:14] NewForestsUS opened #138 "CLI flag for nodata"
I'm working on a `HFA` raster ([Archive.zip](https://github.com/perrygeo/python-rasterstats/files/649852/Archive.zip)) wherein no data is referenced as `nan`. When I run 'raterstats' based on this geojson, the output says 0 for the count of nodata cells despite the fact that there are many.

[foo.txt](https://github.com/perrygeo/python-rasterstats/files/649865/foo.txt)

Thanks in advance for any g

[2016-12-13 20:58] perrygeo commented on #138
"nodata" refers to cells which are equal to a specified value, mostly for use with integral data types. "NaN" are not *necessarily* "nodata" (they could be cells where the result of some calculation yielded an incalculable value but it is still a valid floating data nonetheless) thus have slightly different semantics.  It's possible to have different nodata and NaN's as might be one interpretation

[2016-12-13 21:24] pwt-nf commented on #138
Thanks @perrygeo ! since I'm building the raster, I can attribute those cells as I please. Whats would be the best strategy/is it possible to give them a value that the current nodata result would track?

[2017-03-01 22:24] PanditPranav opened #139 "Issues with importing rasterstats"
I am working on Windows system and when I try to import rasterstas it gives me this error

import rasterio
from rasterstats import zonal_stats

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-15-ecf251862e57> in <module>()
      1 import rasterio
----> 2 from rasterstats import zo

[2017-03-01 22:29] perrygeo commented on #139
Can you try upgrading `cligj` to the latest version?

Details: `cligj.features_in_arg` requires [version 0.4](https://github.com/mapbox/cligj/blob/master/CHANGES.txt#L3). rasterstats specified this in the [`setup.py` file](https://github.com/perrygeo/python-rasterstats/blob/master/requirements.txt#L4).

[2017-03-01 22:35] PanditPranav commented on #139
Yup, updating cligj worked...

Thanks..

[2017-03-01 22:35] #139 closed

[2017-03-05 12:06] akrherz opened #140 "Shapely 1.6 refactored ReadingError"
Thanks for your efforts on rasterstats.  I am attempting to use with Shapely 1.6b4 and get this error

[code]

It was moved [with this commit on Shapely](https://github.com/Toblerity/Shapely/commit/b16ea053b4b33d7bbd3fa3ba644901bfbd9de387#diff-3cf5807808a12b3fdf93d9c125a74efb) in 1.6b2

[2017-03-05 17:54] #140 closed

[2017-03-05 18:09] perrygeo commented on #129
This looks like a an issue specific to your platform/installation. I can't reproduce it on any installations and its not clear that there is anything I can do from the code side.  My best guess is some sort of binary incompatibility between some of the C components - improperly installed versions of numpy, GDAL, rasterio, shapely,  fiona and python itself (maybe its 32-bit?) might be at fault here

[2017-03-14 08:30] Neavrys opened #142 "Exit code -1073741819 (0xC0000005)"
Hi all,
In django console, a simple code as :
[code]
I received :
Process finished with exit code -1073741819 (0xC0000005)
(Python Crash)

Here is the files, (geojson and raster):
https://www.dropbox.com/sh/gacm4iu00aama4v/AADUm0RD0LYD_0fUV6Mxo3QFa?dl=0

Version :
Windows 10 pro 64 bit
PyCharm 2016.3.2
Python 2.7.12
Django 1.10.4
gdal 2.1.3
numpy 1.12.0+mkl
rasterio 0.36.0
rasterstats 0.12

**Upda

[2017-03-14 20:16] Neavrys commented on #142
The entire Zonal Statistics project, with OGR, OSR, Gdal, numpy, geojson that I code myself, work good but too dam slow. I need a efficient Zonal Statistic with geojson and a raster. This lib could save me but a critical error occurred when I use it without any other code or import.

[2017-03-14 20:34] sgoodm commented on #142
ran a quick test on ubuntu 14.04 64 bit and it works fine

the json from dropbox is wrapped in quotes, make sure to remove them before trying to run

[2017-03-14 22:20] Neavrys commented on #142
@sgoodm
Even with removing wrapped in quotes. It's still bug.

[2017-03-14 22:38] perrygeo commented on #142
I can't reproduce this either, on OSX or linux.

Can you step through this in a debugger to identify the place it fails?

[2017-03-14 23:37] Neavrys commented on #142
Is't it a library conflict?

Can't pass main.py at line 28

**step into:**
can't pass main.py at line 142

**step into:**
can't pass io.py at line 241

**step into:**
can't pass rasterio__init__.py at line 201

**step into:**
Pass thought def parse_path() in vfs.py

**Return to :**
rasterio__init__.py at line 201
can't pass rasterio__init__.py at line 201

**step into:**
Pass thought def vsi_path(

[2017-03-15 00:24] perrygeo commented on #142
@Neavrys thanks for diving into the details! Looks like you narrowed down the crash to a Rasterio call., likely some issues with its underlying C libraries. What happens if you try this rasterio code:

[code]

[2017-03-15 01:33] Neavrys commented on #142
@perrygeo

With the code you mention, I received in the geodjango console:
Process finished with exit code -1073741819 (0xC0000005)

The Shell from terminal won't give error details, just python crash.

With debug:
can't pass rasterio__init__.py at line 201, just like # 3. in my previous post.

[2017-03-15 05:00] Neavrys commented on #142
Is it my problem ?
I think ds...
[Rasterio-issues-219] (https://github.com/mapbox/rasterio/issues/219)

[2017-03-15 14:24] perrygeo commented on #142
It appears to be a problem with your Rasterio installation. I don't know much about installing rasterio and GDAL on 32-bit windows so I personally can't help with details. I'd encourage you to open a new ticket in the Rasterio repo so we can get more eyes on the issue.

Another option is Anaconda. I usually suggest installing rasterstats via [conda-forge](https://github.com/conda-forge/rasterstats

[2017-03-15 14:24] #142 closed

[2017-03-16 09:47] XiaopingDu opened #143 "Question: Can we set an analysis mask for rasterstats?"
Hi Matthew,

I am doing a large scale data analysis using image tiles such as Hansen Global Forest Change Data.
I do not want water areas to be calculated and I have a global water mask layer.
Can we set a mask for rasterstats just like mask environment setting in Arcgis?
http://pro.arcgis.com/en/pro-app/tool-reference/environment-settings/mask.htm

Thank you!
Xiaoping

[2017-03-16 13:56] sgoodm commented on #143
I would suggest using rasterio to read in your data and mask layers, then use numpy to create a masked array and set the masked values to the nodata value. you can either output this as a new raster for use with rasterstats (suggest doing this) or pass it directly to rasterstats as an ndarray along with the affine info from one of the original rasters and the nodata value

should be pretty straigh

[2017-03-16 16:05] XiaopingDu commented on #143
Thank you @sgoodm !
Thank you for your suggestions. Yes, we should set nodata to original raster dataset if we can not set mask layer for rasterstats. However, there is a huge amount work to do for we have several global scale layers and there are lots of tiled images in each layer. So it would be a great convenience by setting mask for this tool.

[2017-03-17 10:28] XiaopingDu commented on #143
Alternatively, I solved this problem by masking (clipping) my vector layer. I clipped the polygons in vector layer by polygons in mask layer. Thank you!

[2017-03-20 09:41] XiaopingDu commented on #105
![image](https://cloud.githubusercontent.com/assets/26456597/24093760/c785d58c-0d55-11e7-8aea-d16a4c57e540.png)
I do not think it's a problem and we need not count non-overlapping pixels. From my understanding, the non-overlapping is not a part of the raster. From above picture, the raster is inside the red box and black is nodata. The blue box is the geometry which covers 8 pixels. So:
` {'count'

[2017-03-21 18:19] sgoodm commented on #90
PR #136 for latest on this

[2017-03-21 20:29] sgoodm commented on #128
With PR #144

[code]

[2017-03-22 17:28] jgerardsimcock opened #145 "error on import due to cligj dependency"
I am trying to import the module and I get the following error:

`` 15 @click.command(context_settings=SETTINGS)``
``---> 16 @cligj.features_in_arg``
`` 17 @click.version_option(version=version, message='%(version)s')``
``18 @click.option('--raster', '-r', required=True)``

`AttributeError: 'module' object has no attribute 'features_in_arg'`

I am working with rasterstats version 0.12.0. I've look

[2017-03-22 17:56] #145 closed

[2017-03-22 17:57] jgerardsimcock commented on #145
I needed to update other dependencies.

[2017-03-22 20:00] sgoodm commented on #105
looks like the non overlapping areas get lumped into nodata due to the the boundless options (`boundless_array` func in rasterstats for arrays, and equivalent steps in rasterio for rasters) which either initialize the boundless output with the nodata value (`boundless_array`) or fill it with the nodata value before it gets returned (rasterio)

this seems to be when it was introduced for arrays, ra

[2017-03-22 21:20] sgoodm commented on #105
this might work: if the user wants no_overlap count returned, they need to provide a second, unused "fake" nodata value. this value is passed to rasterio as the raster's nodata value which results in the true nodata value being treated as just another value. we then have distinct values for no_overlap vs nodata and just need to update our mask accordingly

in the case when the user does not reques

[2017-03-24 19:24] sgoodm commented on #105
PR #146 adds 'nan' stat option

[2017-03-24 19:31] sgoodm commented on #138
guessing this was solved but just in case

@NewForestsUS you can assign those cells any non-nan value (use your raster's nodata value if it already has one) and just pass it to rasterstats using the `nodata` option

@perrygeo, can close this one

[2017-03-24 20:54] sgoodm commented on #105
rasterio issue on shapes extending beyond raster extent
https://github.com/mapbox/rasterio/issues/995

[2017-03-25 13:34] sgoodm opened #147 "numpy 1.12 deprecation warning to error - float indexing"
https://github.com/numpy/numpy/releases/tag/v1.12.0

using floats as index will now throw error. found two instances of this, though one is technically on rasterio's end. will add an issue there as well.

PR incoming

[2017-03-25 14:12] sgoodm commented on #147
https://github.com/mapbox/rasterio/issues/1002

[2017-03-26 13:34] #147 closed

[2017-03-26 13:56] perrygeo commented on #128
Closing for now, #144 pushed through most of the major coverage issues. Thanks @sgoodm

[2017-03-26 13:56] #128 closed

[2017-03-26 13:57] #143 closed

[2017-03-26 13:57] #138 closed

[2017-03-26 14:29] perrygeo opened #149 "Python 3.6 issue, tests segfault"
Hoping to get python 3.6 support going today but ran into a curious blocker - Tests immediately segfault.

[code]

Same procedure passes 👌 on python 3.5.2.

[2017-03-27 18:39] sgoodm commented on #105
@perrygeo almost done with a no overlap stat proof of concept that works with array rasters. but i think there may be some limitations to getting it working with rasters opened via rasterio

[2017-04-07 21:11] akrherz opened #151 "segfault when `reference` exists in global namespace"
The following code segfaults for me with current conda forge channel releases of everything
[code]

If I simply remove `from pyiem import reference`  or import it with an alias, the segfault disappears.  My [reference library](https://github.com/akrherz/pyIEM/blob/master/pyiem/reference.py) seems innocuous enough.

[code]

I noticed your other segfault issue #149, but am unsure if this is related.

[2017-04-08 12:06] perrygeo commented on #151
conda-forge packaging happens at https://github.com/conda-forge/rasterstats-feedstock. Can you post this issue in that repo? Details of the conda environment, versions and steps to reproduce would be helpful.

[2017-04-08 12:06] #151 closed

[2017-04-08 12:14] akrherz commented on #151
Howdy, sorry, I can reproduce with non-conda / system python as well. I'll file there too, thanks.

[2017-04-08 12:24] perrygeo commented on #151
@akrherz any segfault is going to happen in C extensions.  In other words, its an installation/packing issue.

rasterstats imports rasterio, fiona and shapely all have C extensions that call libgdal and/or libgeos. Any incompatibles between those components will cause trouble. An issue I've experienced: when two modules link to different geos versions, segfaults can occur. The safest way is to sta

[2017-07-25 21:28] PanditPranav opened #153 "Question: Transform/Affine functions to match projections of Rasters and Shapefiles?"
Hi there,

This has been a great and fast package which has immensely helped me do some large calculations on rasters.  I have some rasters which are not projected with the same CRS as the shapefile and I am assuming the function 'gen_zonal_stats' handles the CRS transformation. Or do we have to manually transform rasters to same CRS as of shapefile running 'Zonal Stats' function?

[2017-07-26 13:42] sgoodm commented on #153
This package does not handle projections. You need to provide vector and raster layers with matching projections

See #4 #26

[2017-07-26 14:47] perrygeo commented on #153
What @sgoodm said ☝️

I would recommend transforming the geometry of the vector data to match the raster. Reprojecting rasters requires resampling which alters the pixel values. But reprojecting vectors is generally safer and lossless as you are just moving the verticies in 2D.

[2017-07-26 14:47] #153 closed

[2017-08-20 16:23] perrygeo opened #155 "Fully remove the use of the rasterio `affine` property"
The `src.affine` property of Rasterio datasets is deprecated.

We do the right thing in `rasterstats.io` https://github.com/perrygeo/python-rasterstats/blob/a0eef4ee721ff68503c25e073561a98a71768a9d/src/rasterstats/io.py#L242

But elsewhere, in main and in the tests, we access the affine property directly.

Also we use the `affine` argument name everywhere - this should be changed (in a backwards c

[2017-09-30 21:21] tnigon commented on #145
Do you know which dependencies you had to update? I am having this same issue.

[2017-10-04 13:44] MartinHvidberg opened #157 "benchmark data unavailable"
The benchmark data mentioned in ../examples/benchmark.py. (SRTM_1km_TIF) seems to be unavailable?  Please provide a working link.

[2017-10-07 17:46] gfairchild commented on #155
I've got a related question. If I pass in `src.transform` to the `affine` argument in `zonal_stats`, will things break? I haven't tried this yet, but I'm curious. Just looking ahead to `rasterio` 1.0.

[2017-10-08 14:15] perrygeo commented on #157
Not sure what happened to it. I'll keep looking for another source of the same data, otherwise, we can find/create a new one (numbers would not be comparable so we'd have to go back and rerun on old versions)

Ultimately I want to move benchmarking to something like: https://github.com/spacetelescope/asv

[2017-10-10 23:32] gfairchild commented on #155
I just answered my won question: the answer is no, things don't break. I just switched to `rasterio` 1.0a9, and passing `src.transform` to `affine` appears to be working perfectly.

[2017-10-19 08:37] MartinHvidberg commented on #157
Thanks 👍

[2017-11-07 21:18] jgerardsimcock commented on #157
Is there any sense of how long a zonal_stats operation should be taking? The shapefile I am reading has 536348 polygons and Its taking around 10-15 minutes to load the data.

[2017-11-08 13:40] sgoodm commented on #157
@jgerardsimcock processing time depends largely on the size of the polygons and the resolution of the raster data

[2018-01-29 14:26] juiceboxjoe commented on #77
Same thin ghappened when I was installing rasterio. apt-get install libgdal-dev also solved it for me! Now I' getting an import error from libgdal:

ImportError: /usr/lib/libgdal.so.20: undefined symbol: sqlite3_column_table_name

[2018-02-19 21:14] jeueblah commented on #129
I am having a very similar issue. My raster data are uint16. QGIS computes what I believe are correct stats, while rasterstats gives garbage values (for sum). Unfortunately, my raster is global extent, 30m so converting it to float isn't feasible (and I have multiple global rasters in uintXX). Also on a Win10 x64 system. Rasterstats version 0.12.0, rasterio version 0.36.0.

[2018-02-19 21:45] jeueblah commented on #129
I should note that I was able to debug this (not sure if it needs to be "fixed" in more places, though).

When you create the masked array, numpy by default makes it the same datatype as the input data. When I added ", dtype=np.float" to line 170 [here](https://github.com/perrygeo/python-rasterstats/blob/master/src/rasterstats/main.py), I got the same values as QGIS (and much much faster, thanks f

[2018-02-20 07:38] perrygeo commented on #129
@jeueblah thanks for the report. Given that we have multiple reports of the problem on win10 x64, I'm going to reopen and investigate further.

I don't currently have access to a Win 10 machine but I'll do my best.

[2018-02-20 09:38] perrygeo commented on #129
I think we might have a `numpy` distribution issue.

❓ Can anyone reproduce the problem using:
* windows 64bit
* Official Python.org distribution
* numpy 1.14 wheels from pypi

[2018-02-20 20:31] solomonvimal opened #158 "Feature ID in zonal_stats"
Hi,
Zonal stats in [this example ](http://nbviewer.jupyter.org/github/perrygeo/python-raster-stats/blob/master/docs/notebooks/Integrating%20with%20GeoPandas%20and%20Numpy.ipynb) shows a feature ID that is saved together with the statistics for each feature. I think this is a useful feature to have. But when I try to replicate this in rasterstats (v0.12.0), I am not sure why feature ID is not saved

[2018-02-21 03:37] perrygeo commented on #129
I found a windows machine to test on :-) but I don't have a copy of the data to reproduce it and the dropbox links are 404ing :-(

@fri-end can you send me an updated link to the dataset?

[2018-02-21 05:50] fri-end commented on #129
@perrygeo unfortunately that dataset is long gone

[2018-02-21 17:18] jeueblah commented on #129
I gotchu fam. Here are my data that expose the bug. https://drive.google.com/open?id=1mgWIVUM0HkOFNMmcm_fBhDaNy1tkfFa7

**Without dtype=np.float:**
[{'count': 22625585, 'sum': 1396284338.0},
 {'count': 212501, 'sum': 25293972.0},
 {'count': 305003, 'sum': 25457696.0},
 {'count': 221494, 'sum': 20968219.0},
 {'count': 1649505, 'sum': 362830813.0},
 {'count': 205705, 'sum': 13864265.0},
 {'count': 4

[2018-02-22 00:54] jeueblah commented on #129
I should note that upon comparing the with/without np.dtype=float, it appears that there is an upper limit (all the sums are the same except the first one, which is the biggest feature in the shapefile). I am adding another shapefile to the Drive--same name but without "inc". The features in it are larger, so the bug will be more evident (i.e. not just in the first feature).

[2018-02-22 05:10] perrygeo commented on #129
I'm now 100% sure that we're seeing this numpy bug: https://github.com/numpy/numpy/issues/8433

The short version: numpy casts to 32 bit integers even on 64-bit windows. The means that any zonal stats sum greater than 2147483647 will overflow and cause incorrect values on that platform.

Ideally this would be fixed in numpy. But until then, I would like to include a workaround. Casting to `float`

[2018-02-22 05:55] #129 closed

[2018-02-22 05:55] #149 closed

[2018-02-22 05:59] perrygeo commented on #129
Fixed in version [`0.12.1`](https://pypi.python.org/pypi/rasterstats/0.12.1).

@fri-end @jeueblah `pip install --upgrade rasterstats` should fix this issue. Thanks for the help - I learned a lot!

[2018-02-28 18:49] tonussi opened #160 "File "rasterio/_io.pyx", line 810, in rasterio._io.RasterReader.read (rasterio/_io.c:10370) MemoryError"
# LINKS

+ https://www.dropbox.com/s/k8gjju0vnu45bxi/MCD13Q1_2000049_EVI2.tif?dl=0
+ https://www.dropbox.com/s/317ydjwtsc6bdz3/poligono.dbf?dl=0
+ https://www.dropbox.com/s/z591awjpruy7q4i/poligono.prj?dl=0
+ https://www.dropbox.com/s/o6wj73u9bue81ps/poligono.shp?dl=0
+ https://www.dropbox.com/s/ypgmrg627k2e8te/poligono.shx?dl=0

# INPUT

[code]

# OUTPUT

[code]

# POSSIBLE SOLUTION

https://pcje

[2018-03-01 12:01] norela commented on #77
Trying to install rasterstats on Ubuntu 16.10 using pip(aswell as  pip3) install returns:
`rasterio/_base.c:287:22: fatal error: cpl_conv.h: No such file or directory`
installing libgdal-dev fails:
`Unable to locate package libgdal-dev`
On Ubuntu 16.10
`$ apt-cache search libgdal` returns
libgdal20 - Geospatial Data Abstraction Library

It is installed and no libgdal20-dev is available.

[2018-03-01 13:07] perrygeo commented on #160
As the traceback indicates,  rasterio was unable to read the data into memory. Rasterstats has been made as memory efficient as possible, only loading the raster data necessary for determining the zonal statistics for each feature. If you're hitting Memory errors, you'll either need to use a system with more free memory or a downsampled version of the raster.

[2018-03-01 13:07] #160 closed

[2018-03-01 13:10] perrygeo commented on #77
@norela This is a Rasterio installation issue, one of the dependencies of python-rasterstats. Check out https://github.com/mapbox/rasterio#installation

To install Rasterio on a system without GDAL or a C compiler, you can use the latest Rasterio 1.0 release which comes with pre-compiled binary wheels:

[code]

[2018-03-05 20:06] manuvare opened #161 "Grid Shape & Multiple TIF"
First at all, many thanks on sharing all this work.

I´m new on Python and maybe i want to run before walk.

I´m running the script orienting to climate data, where I have a Shape with around 500 equal squares and 30 years daily data of rainfall (tif files for each day around 11k .tif).

I need as an output a table with the rainfall value for each day for each grid.

How to deal with this?

Thanks

[2018-03-06 14:54] perrygeo commented on #161
I would loop over the climate tifs and run zonal stats on each:

[code]

You would be left with a `results` dictionary like

[code]

From here, how you process this data is entirely up to your application.

[2018-03-07 15:19] manuvare commented on #161
I think i have something wrong with packages:

FutureWarning: The value of this property will change in version 1.0. Please see https://github.com/mapbox/rasterio/issues/86 for details.
  with Raster(raster, affine, nodata, band) as rast:

FutureWarning: GDAL-style transforms are deprecated and will not be supported in Rasterio 1.0.
  self.affine = guard_transform(self.src.transform)

UserWarning:

[2018-03-07 15:36] perrygeo commented on #161
The transforms warnings should not cause any problems, it's a known issue for future releases #64

The user warning re: nodata indicates that you may need to set nodata explicitly.

Can't help you unless you provide more information. First thing to check is making sure you're set the nodata correctly. Please open a new issue if you can find and reproduce a bug.

[2018-03-07 15:36] #161 closed

[2018-03-07 15:38] perrygeo commented on #158
if you need to retain the attributes/properties of the feature, use the `features_out=True` keyword argument. This will output full geojson features with a `properties` key

[2018-03-07 15:38] #158 closed

[2018-03-07 16:12] manuvare commented on #161
It was a double check but different are not sensible at this stage.

Nodat set now is ok.

I will check how to include on rasters tuple all the files in my directory (up to 10k) and how to export results to a csv.

Thanks!

[2018-03-07 20:52] manuvare commented on #161
Done.

IS there any way to get the code more efficient?

import os, glob
import rasterstats, rasterio
from rasterstats import zonal_stats

polys = r'C:\Users\mvarela3\Documents\CHIRPS\Python\GRIDBSAS.shp'

rasterfolder = r'C:\Users\mvarela3\Documents\CHIRPS\img\Global'
os.chdir(rasterfolder)

results = {}

for lyr in glob.glob("*.tif") :
    results[lyr] = zonal_stats(polys, lyr, stats=['mean'], n

[2018-03-13 20:52] Biaggio74 opened #162 "Shell is not a LinearRing"
### Expectation
I try to get some zonal statistic from the example files provided in the repo.

### Re-produce the issue
zonal_stats works perfectly from the command line:
fio cat polygons.shp | rio zonalstats -r slope.tif

But when I run the following python code I got the error as below.

[code]

### Operating system
macOS High Sierra, version 10.13.3

### Package info
Name: rasterstats
Version:

[2018-03-13 21:11] manuvare opened #163 "Multiprocessing"
Im trying to run my code with multiprocessing.
i tried:

[code]

Im not having any result at all, no last print, no csv.

Thanks in advance.

[2018-03-15 21:04] manuvare commented on #163
Is there any way to use multiprocessing and pool.map?

i tried:

[code]
Thanks!

[2018-03-18 14:56] perrygeo commented on #163
Does this example help? https://github.com/perrygeo/python-rasterstats/blob/master/examples/multiproc.py

[2018-03-18 15:03] perrygeo commented on #162
@Biaggio74 Interesting results. Thanks for the detailed report!

I'm not able to reproduce the error using the test data.

[code]

What version of Shapely are you using? Can you try to reinstall with --upgrade and see if you get the same results?

[2018-03-18 18:17] Biaggio74 commented on #162
I re-installed Shapely in a fresh virtual Python environment. Now it works fine from the command line.
My Shapely version is: 1.6.4.post1
Here is my whole pip freeze:
`(venv) ~/projects/python-rasterstats (master) $ pip freeze
affine==2.1.0
click==6.7
click-plugins==1.0.3
cligj==0.4.0
Fiona==1.7.11.post1
munch==2.2.0
numpy==1.14.2
pyparsing==2.2.0
rasterio==0.36.0
rasterstats==0.12.1
Shapely==1.6.

[2018-03-18 18:41] perrygeo commented on #162
Thanks for the report. This is strange, I'd love to know how you solve it. But in terms of this repo, there's nothing I can do here.

lets continue the conversation -> https://github.com/Toblerity/Shapely/issues/568.  Reproducing the shapely error directly makes a tidier test case for the issue.

[2018-03-18 18:41] #162 closed

[2018-03-19 13:37] manuvare commented on #163
The trick on windows was to slipt the def to a solo .py and other code calling to that .py.

Thanks.

[2018-03-21 20:33] manuvare opened #164 "Zonal Stats Error"
Hi,

Running zonal_stats for a shape (with multiple grids) and extracting data from multiple tif, im gettig:
[code]

How to fix it?

I format the pc, before that, the code work properly. In addition i tried without multiprocessing and it works ok. So the issue is with multiprocessing

Win 10 64bits - Py 3.6 - Anaconda/Jupyter

i installed:
1)	conda install -c conda-forge gdal
2)	conda install -c c

[2018-03-22 15:05] perrygeo commented on #164
I don't have access to a Windows machine but I can take a look at the dataset. Can you provide the shapefile, preferably the smallest subset needed to cause the error.

[2018-03-23 11:00] manuvare commented on #164
Attached

[Pruebas.zip](https://github.com/perrygeo/python-rasterstats/files/1841233/Pruebas.zip)

hope you could help me.

[2018-03-23 17:29] perrygeo opened #165 "Warning about float dtype"
[code]

[2018-03-24 14:34] perrygeo commented on #164
Thanks for providing the data.

I'm not able to reproduce the error; works both with normal usage and adapting the `examples/multiproc.py` script. Confirmed working on OSX and Linux.

I suspect that the problem is in your multiprocessing script that calls zonal_stats. Can you share the code?

[2018-03-24 23:08] manuvare commented on #164
sure

as i am using win, for multiprocessing i might need to define a .py with the simple zonal_stats commands and then a script with the multiprocessing and outputs.

[code]

[2018-03-28 01:07] perrygeo commented on #164
Thanks for the code but I'm not able to reproduce this without the `procesar_fichero` function

[2018-04-07 15:05] manuvare opened #166 "All touched issue"
Hi,

I madea grid over a tif file, where each pixel is a grid. If I´m understanding well, i think all touched True/False must get same results. Isn´t it?

Im not getting the same results selecting the feature by True or False, but i want to check if the error is in the grids construction.

Thanks for your comments

[2018-04-08 13:11] #166 closed

[2018-04-09 14:36] perrygeo commented on #166
If the vector geometry is exactly aligned with the raster cell, it will technically "touch" all of the adjacent cells. So I would expect different results with `all_touched=True` (which would pick up adjacent cells) vs `all_touched=False` (only selecting cells where the centroid intersects)

[2018-06-05 01:37] ckrapu commented on #145
I'm having the same issue. Any update?

[2018-06-05 01:51] perrygeo commented on #145
You need to `pip install -U 'cligj>=0.4'` as per the project requirements.

[2018-06-05 17:06] ckrapu commented on #145
Got it. Thanks!

[2018-06-06 16:19] mwooten3 opened #168 "support for raster objects"
Would it be possible to add support for an input zonal raster as opposed to polygon? From my understanding the input polygon is rasterized anyways. Could this feature have the option for 8-member connectivity? Thank you for all your hard work!

[2018-06-06 16:52] perrygeo commented on #168
This library is focussed only on vector-on-raster analysis. If you already have the zones and the data in raster format, you should use numpy techniques directly to calculate stats.

[2018-06-06 16:52] #168 closed

[2018-06-06 16:53] perrygeo commented on #164
Feel free to reopen when you can provide a test casae.

[2018-06-06 16:53] #164 closed

[2018-06-06 16:53] #163 closed

[2018-08-10 16:09] perrygeo commented on #155
We've moved over to using `transform` everywhere when talking to Rasterio dataset objects.

We're still using the `affine` parameter name for e.g. the keyword argument to `zonal_stats`. Not a high priority to change it.  Closing here for now.

[2018-08-10 16:09] #155 closed

[2018-08-10 16:22] perrygeo opened #172 "Fix README rendering on PyPI"
Looks like pypi has trouble parsing the rst readme: https://pypi.org/project/rasterstats/

![image](https://user-images.githubusercontent.com/1151287/43969413-4c121c9a-9c87-11e8-9abf-6c7b9658cc27.png)

Consider switching to markdown.

[2018-10-09 21:05] HenryW95 opened #173 "AttributeError when running zonal_stats"
I'm trying to run zonal_stats and I'm getting the following error in the \__init__ function of io.py (line 242):
`AttributeError: 'GeneratorContextManager' object has no attribute 'transform'`

I've recreated the error with a variety of raster and vector data on a fresh virtual environment with rasterstats version 0.13.0.  I've experimented with using different combinations of rasterstats/rasterio

[2018-10-09 21:31] HenryW95 commented on #173
Apologies, I was using reading the raster to memory before calling zonal_stats.  Simply supplying the file path to zonal_stats fixed the issue.

[2018-10-09 21:31] #173 closed

[2018-11-05 13:24] rylanlee opened #175 "zonal statistics on Vector and NetCDF data"
Since zonal statistics on Vector and \Raster data is possible as Integrating with GeoPandas and Numpy. Is zonal statistics on Vector and NetCDF data possible? Moreover, is calculation in each zone (each region in vector data) possible based ?

For example, I have 1980-2010 globla temperature, How can I get the 1980-2010 mean temperature series in each vectors? Can anyone help me figure it out?

[2018-11-06 17:20] perrygeo commented on #175
`rasterstats` is designed around summarizing a single raster band by multiple vector shapes. It sounds like what you want to do is summarize _multiple_ raster bands (temperature for each year) by multiple shapes?

There is an open issue about multiband support: see #73

For now, you can iterate over each band and combine the data structure with a little post processing.
The following example demon

[2018-12-18 19:31] adbeda opened #177 "Wrong sum stats"
I recently computed the sum zonal stats for a shapefile with 416 admin 3 level boundaries and the values for some of the rows is way off. here is what it looks like:

     FID      |  RASTERSTATS  |  QGIS
     -----------------------------------
     320      |       14925   | 12842
     321      | 15032404941   | 13401
     322      |       23455   | 19222
     323      | 21474859155   | 23215

[2018-12-18 21:11] perrygeo commented on #177
@adbeda thanks for the report. I'm not able to access those files on google drive, could you check the permissions?

[2018-12-18 22:01] adbeda commented on #177
sorry, check this one: https://drive.google.com/file/d/1v-Y7cK7DOsrxIPG5h56H9Q_ij0YGVeCe/view?usp=sharing

[2018-12-19 00:20] perrygeo commented on #177
It looks like your script is incorrectly setting `nodata`.

GDAL confirms that the nodata value is 2147483647
[code]

When you set `nodata=0` in your zonal_stats call, you're declaring that 0 is the true nodata value, which is incorrect. When it encounters one of these large values, it's considered valid since it's not equal to nodata.

Omitting the `nodata` argument will allow zonal_stats to read

[2018-12-21 05:59] princemathur commented on #105
Mine shapefile polygon is not snapped with raster when i run zonal_stats results are not exactly matching with Arc GIS result. I am using Python 3.7 and pygeoprocessing 1.5.
Is there any way by which we can match Arc GIS result?

[2019-01-14 16:05] daarende opened #178 "Question: user rasterinput in stead of vectorinput"
Hello, great python package!

Is there a possibility to foresee a raster with different zones as input in stead of a vector file? I suppose the code will rasterize the input polygons internally anyway?

I have a raster with data and a raster with different zones. For each zone I want to calculate the zonal statistics on the data-raster. It's a bit stupid to convert the raster to a vector file if t

[2019-01-14 17:21] perrygeo commented on #178
The main purpose of this module is to bridge the gap between vector and raster data modeling for the zonal stats use case. If you've already got your data in raster format, I'd suggest using numpy arrays directly:

* iterate through the zones, creating a binary mask for each
* mask the raster data and compute statistics

The source code in https://github.com/perrygeo/python-rasterstats/blob/master

[2019-01-15 18:24] GloryPassarello opened #179 "cannot reproduce muliprocessing"
I am studying how to runs the zonal statistics function on a multiprocessing. [This ](https://github.com/perrygeo/python-rasterstats/blob/master/examples/multiproc.py) is a great code (Many thanks ^_^) !!

Unfortunately I am not able to run the code.
I got back this error:
`rasterio.errors.CRSError: CRS is empty or invalid: ''`

I am not sure if the issue could be on the part:

[code]

on features

[2019-01-15 20:33] perrygeo commented on #179
Can you reproduce this with your final code snippet against some of the test data? https://github.com/perrygeo/python-rasterstats/tree/master/tests/data

Otherwise, can you provide links to download the smallest dataset needed to reproduce the error? Thanks.

[2019-01-16 11:22] GloryPassarello commented on #179
Dear @perrygeo Many thanks for your fast reply. Running the test data, I gave back [this issues](https://github.com/mapbox/rasterio/issues/1539) and solving this the code with them goes like a charm. I also used my Tiff file with a shape file I created and also runs great!
I also tried with a subset of my working data and it goes correctly.

when I try to run it on my entire data I have bask this:

[2019-01-16 15:47] perrygeo commented on #179
The first 4 lines with `ERROR 1` indicate clearly that the problem is with your tif file.

[2019-01-16 15:47] #179 closed

[2019-02-14 11:51] mhasanbd08 commented on #110
Dear all,
Greetings!
I have tried several time to work with rasterstats from install to execution but not working showing error "not found module gd" during execution. Please help me. thanks advance

[2019-02-17 20:58] adbeda opened #180 "working with skewness and kurtosis"
I added median and quantile, skew and kurtosis as user-defined statistics and computed zonal stats.  Everything was fine except when the values for Kurtosis and Skew come out as pixels rather than summary statistics.

This is what the normal summary looks like:

[code]

 But, for the same unique id(polygon), this how kurtosis came out:

[code]
and the skew:

[code]

It would be useful, at least in

[2019-03-09 02:11] pierstitus commented on #98
Good to see you know about this problem, it took me a while to find this issue.

It would be nice to do a little check on `affine` and give a warning when `e` is positive (or `a` is negative, even though that's way less common)

For those working with ndarrays, here a little function to flip the raster and affine matrix (assuming coordinates are on center of grid cells):

    def flipud(raster, af

[2019-03-25 20:11] jbellino-usgs opened #182 "Computing row, column from x, y of a rotated numpy ndarray"
I'm experiencing problems with `zonal_stats` using a numpy ndarray and an affine object created from scratch. Apologies if I have misinterpreted something or if this is intended behavior, but it appears that the following code assumes othogonality with respect to the Cartesian coordinate axes and precludes the proper computation of row, column from an array that is in rotated coordinate space (i.e

[2019-04-11 15:43] Zeitsperre opened #183 "np.asscalar is deprecated"
The call to np.asscalar() is raising a lot of warnings when categorical JSON output is requested.

```DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead```

From what i can tell, it's simply a matter of updating `main.py`, lines 200 and 201 to be synonymous with current the NumPy API:
https://github.com/perrygeo/python-rasterstats/blob/910455cd7c9c21eadf464927

[2019-04-11 16:14] perrygeo commented on #182
Rotation coefficients aren't supported at this time. Happy to work with you on a PR if you're like to submit a test case and a proposed solution.

[2019-04-11 16:16] perrygeo commented on #183
I don't have an explicit policy about numpy version support but many folks are still on numpy 1.8 due to old LTS releases from the major OS.

[2019-04-11 16:16] perrygeo commented on #183
@Zeitsperre if you'd like to submit a PR for the above change, I'm happy to test it on older numpy versions.

[2019-04-11 16:23] Zeitsperre commented on #183
Hey @perrygeo, sure thing. I imagine the changes needed to support older and newer numpy won't take more than a few minutes. I'll test my changes locally before opening a PR here.

Thanks for maintaining this library btw!

[2019-04-16 19:55] jbellino-usgs commented on #182
For my application it may be easier to place my data on a regular, non-rotated grid; but, if I decide otherwise I will revisit this idea. Closing this issue for the time being.

[2019-04-16 19:55] #182 closed

[2019-04-17 20:16] Zeitsperre opened #185 "Rasterio MemoryFile Support?"
I'm wondering if there is a supported way of accessing the rasterio `MemoryFile` format.

Unsurprisingly, I have been able to open and treat these files in a similar fashion to `NamedTemporaryFile`s by calling their `.name` but I get the impression from the docs these class objects have their own specific way of being handled (https://rasterio.readthedocs.io/en/stable/topics/memory-files.html). If

[2019-04-22 14:26] jingx15 opened #186 "Problems caused by special affine transformation"
When I deal with some special data with special affine matrix, I found it will go bad. The data looks like this. And its affine matrix is like (-1, 0, 180,0, -1, 90) .

![image](https://user-images.githubusercontent.com/18234905/56505055-17eff600-654d-11e9-9a10-c22ac6dad607.png)
So that `out = np.ones(shape=window_shape) * nodata` in `io.py` file's  185 row will raise a error for `window_shape`<0.

[2019-04-23 13:15] perrygeo commented on #185
Yes there is a performance hit due to the Rasterio implementation. Nothing that can be done about it downstream but it's a good topic for the Rasterio list :-)

In terms of raster support, paths and numpy arrays are fully supported: https://pythonhosted.org/rasterstats/manual.html#raster-data-sources

[2019-04-23 13:15] #185 closed

[2019-04-23 13:16] #178 closed

[2019-04-23 13:17] perrygeo commented on #175
Closing issue due to inactivity. The above code is the recommended approach.

[2019-04-23 13:17] #175 closed

[2019-04-23 13:18] perrygeo commented on #172
Looks nice now

![image](https://user-images.githubusercontent.com/1151287/56583947-f9631c80-6597-11e9-8220-81b70edcb6a5.png)

[2019-04-23 13:18] #172 closed

[2019-04-23 13:23] perrygeo commented on #186
This is a duplicate of #98 - in short, we make assumptions about the affine transform being the standard "north-up" orientation and recommend pre-processing your data accordingly. Please add any  additional details in #98

[2019-04-23 13:23] #186 closed

[2019-05-08 10:54] FerCris opened #187 "how to add estadistics to attribute table?"
hi, i woul like to add my stadistic of 'max' to the atribute table of mi vector imput (.shp). When i obtain my max values:

`val =  zonal_stats(vector_dir, vulne_mask_dir, stats=['max'])`

"val" contains the values of the maximum for each poligon, but not in the same order than  the poligons in the atributes table.

how can I add each value with its corresponding polygon in the attribute table?

t

[2019-05-12 12:20] lwk1542 opened #188 "how to filter specified value？"
such as NaN, infinite, and percentile_2%-98%  or others

[2019-05-30 06:39] Sinan81 opened #190 "tests/data/elevation.tif: no such file"
The file 'elevation.tif' indicated in the zonal stat example doesn't exist. It would be helpful to indicate an existing file instead such as 'slope.tif'.

Thanks.

[2019-06-15 18:27] #183 closed

[2019-07-26 13:55] garethcao opened #194 "unsupported operand type(s) for *: 'Affine' and 'Affine'"
Hi I met with the following problem when I use zonal_stats:

Then I received the following message:

If I run the following code, it would not report error while no results:

But the same message will emerge if I code as follows:

I do not know what the problem is and how to fix it. Could you please kindly provide some hints? Thanks a lot.

[2019-07-26 14:29] perrygeo commented on #194
@garethcao can you provide the full error message?

The error message is related to the [affine](https://github.com/sgillies/affine) python library. Affine objects _should_ be usable with the `*` operator. For example

[code]

Can you confirm that you're using the latest version of affine?

If you have access to a debugger, could you check the values of the affine objects at that point in the code

[2019-07-26 14:43] garethcao commented on #194
Thanks for your reply. My affine version is 2.2.2 as well.

The complete error message is:

Traceback (most recent call last):

    stats = zonal_stats(".../Prefecture_Outline_2015/Prefecture_Outline_2015_Project.shp",'TEAK_Aspect_Mosaic.tif')

    return list(gen_zonal_stats(*args, **kwargs))

    fsrc = rast.read(bounds=geom_bounds)

    self.band, window=win, boundless=True, masked=masked)

[2019-07-26 14:55] perrygeo commented on #194
The error appears to be in the `rasterio.windows` module. What version of Rasterio are you using? `import rasterio; print(rasterio.__version__)`

[2019-07-26 15:00] garethcao commented on #194
The version of Rasterio is 1.0.21

[2019-07-26 16:30] garethcao commented on #194
One more information. The original error message is

After reading that, I run "conda update gdal" in cmd and re-run the same code in spyder, then the error message turns into:

[2019-08-01 12:31] giacfalk commented on #187
I'm following the discussion.

[2019-08-03 01:40] perrygeo commented on #187
If the polygons are in a different order than `vals`, that is a bug. Unfortunately, nothing you've provided thus far indicates such a bug. @FerCris @giacfalk can you provide more details: Links to example datasets and reproducible code to recreate the error would be greatly appreciated. Thank you!

[2019-08-03 01:48] perrygeo commented on #194
@garethcao I'd suggest upgrading to the latest version of rasterio. If you still encounter this bug, let me know. If you could provide sample data and code to reproduce the problem, that would be great.

[2019-08-05 20:57] giacfalk commented on #187
I don't have any bug but I am also curious if it would be possible to write the output of the zonal statistics as new columns to the shapefile, rather than generating a list of statistics or a new geojson file.

[2019-08-13 16:31] cascadet opened #195 "Ignoring Certain Pixels"
Hello - I love your package and have found it very helpful for my research! I have two questions about functionality.

1. What does rasterstats do when I revalue NoData? For example, if I set no-data to 0 and a polygon overlaps a nodata value (no 0), is that pixel included when rasterstats calculates a statistic for that polygon?

2. If not an already-built in as an argument, Is it possible to eit

[2019-08-15 14:15] perrygeo commented on #195
If the nodata value is set on your input raster dataset (see the output of `rio info` or `gdalinfo` and look for "nodata") then rasterstats will ignore those pixels.

A user-defined statistic uses the same nodata masking logic as other statistics, there's no need to add nodata handling to your custom stats.

[2019-08-15 14:46] cascadet commented on #195
That makes a sense! Thank you for your quick reply and thank you for writing an excellent, well-documented package!

[2019-08-15 14:46] #195 closed

[2019-08-20 22:33] Jwely commented on #173
I'd request this issue is re-opened.

An in-memory raster should be an accepted input. Being required to write it to disk and manage temporary files is a needlessly burdensome workaround.

[2019-09-05 12:34] #180 closed

[2019-10-09 21:18] danhamill opened #196 "`zonal_stat` returns NaN for feature within the raster data region."

[2019-10-10 13:22] danhamill commented on #196
Lack of coffee.

[2019-10-10 13:22] #196 closed

[2019-10-15 08:47] drnextgis opened #197 "Take into account PER_DATASET mask"
By now internal mask band is completely ignored.

[2019-10-17 17:08] drnextgis opened #199 "zone_func should be able return value"
`zone_func` is meant to change values in-place, but I faced with the problem while working with integer raster and the following `zone_func`:

[code]

All values become 0. This small snippet demonstrates the problem:

[code]

[2019-11-10 16:04] perrygeo commented on #197
resolved by #198

[2019-11-10 16:04] #197 closed

[2019-11-10 16:07] #194 closed

[2019-11-27 04:55] jens2121 opened #201 "DeprecationWarning: Right multiplication will be prohibited in version 3.0"
`e, n = (col_stop, row_start) * affine` in rasterstats/io.py:156 is throwing a deprecation warning when running zonal statistics.

Can we assume this will be dealt with in the future, or is there something we can do on our side to deal with this.

Thanks in advance :)

[2019-11-28 15:47] seffinier opened #202 "Multi-threading and zonal_stats"
Can I call rasterstats.zonal_stats in multiple threads ?
When I call it in a single thread, it is using 100% of one CPU but I tried calling it in about 10 threads and the CPU usage is limited to about 10% per CPU (I have 16 CPU's).
The raster file is different in each call while the shape file is often the same one (but I guess both are accessed in read-only)

I am running on CentOS 7 with Python

[2019-11-30 14:20] ircwaves commented on #202
Given your description, I'd assume you're experiencing limitation of input bandwidth.

[2019-12-02 09:54] seffinier commented on #202
Thanks for your answer.
Doing some more tests, I noticed that the CPU's are much better used with big rasters (squares of about 11000x11000 pixels) than with smaller rasters (squares of about 6000x6000 pixels).
I am cutting the rasters because zonal_stats is drastically quicker on smaller rasters, but I am loosing part of the advantage because mutlithreading is less efficient...

[2019-12-10 21:21] perrygeo commented on #202
An alternative is to use multiprocessing as show https://github.com/perrygeo/python-rasterstats/blob/master/examples/multiproc.py

The fact that your speed is so affected by raster size indicates that you might not have an optimal raster file layout - if possible use an internally-tiled format like GeoTiff in order to get consistent and fast access.

[2019-12-10 21:22] perrygeo commented on #199
closed by #203

[2019-12-10 21:22] #199 closed

[2019-12-12 13:02] seffinier commented on #202
Thanks for your answer
I am already using geoTiff's but I have to check the exact format
I tried already to load de raster in memory (gaining about 25%)
I will try pre-loading the shape as well

[2019-12-18 18:31] mhweber commented on #173
I would second request to re-open - I'm encountering the exact same issue with trying to use in-memory raster as opposed to passing the file path to zonal_stats.

[2019-12-18 19:16] perrygeo commented on #173
In-memory rasters (more specifically a numpy array) can be passed as the raster data source but you need to also specify affine transform to tie it to geographic coordinates. See https://pythonhosted.org/rasterstats/manual.html#raster-data-sources

[2019-12-25 15:42] rylanlee opened #204 "Could I use the rasterstats to generate hypsography graph based on .shp files and DEM?"

[2019-12-25 21:55] perrygeo commented on #204
yes

[2019-12-25 21:55] #204 closed

[2020-01-06 21:50] autumncp opened #205 "ValueError: width and height must be > 0"
Hello,

I am sorry if this is a simple question to answer, but I am getting an error message that says, what I am guessing, is something is wrong with the GeoTIFF I am using in my rasterstats analysis. I have ran this code before using other GeoTIFF files created from my 'tiffCreation.py' python script without error, but for some reason it is not working anymore.

I have been looking at if for ove

[2020-01-08 17:32] mataslauzadis opened #206 "Progress Bar on Zonal_Stats"
Is there any plan or interest to add a progress bar to zonal_stats? When working with large data-sets, the function can take a long time to complete, sometimes hanging part of the way through.

A progress bar would be a good way to see that the function is still running and has not crashed.

tqdm could be a good candidate for this, it would just [wrap around the feature iteration in this line of c

[2020-01-10 15:12] autumncp commented on #205
So I have checked the width and height of the GeoTIFF that is leading to error and it is not zero in either width or height so I have not idea what the issue is. Still needing help here.

Thanks

[2020-01-11 01:18] perrygeo commented on #205
@autumncp For the GeoTIFF's that don't work, are they in the same projection? Your tif file needs to be in the same coordinate system as the `acp.shp` file.

[2020-01-13 17:26] autumncp commented on #205
@perrygeo Yes! They're in the same projection. I have another geotiff that works and I have never changed the projection in any of the geotiffs I have created, its always EPSG 3857 for WGS84. Which is also what the acp.shp is in.

[2020-01-14 09:15] raajtilaksarma opened #207 "Output percentage of pixels with missing value."
Often when using `zonal_stats`, in a lot of use cases, it is important to know the amount of missing values within each shape intersecting a raster.
Hence it could be a good feature if we can output a number giving the percentage of missing pixels for an area overlapping the shape and raster. Also a value in the raster representing the missing value can be taken as an input to the function.

[2020-01-14 19:38] autumncp commented on #205
So I have found the issue. It is with the resolution in geotransform. I somehow put a positive value for the resolution in the y-direction, but it needed to be negative. I am not sure how it got changed nor do I entirely understand why it needs to be negative for rasterstats zonal statistics.
 The correction:
`geotransform = (xmin, xres, 0, ymax, 0, -yres)`
not
`geotransform = (xmin, xres, 0, ymin

[2020-01-14 19:38] #205 closed

[2020-01-15 16:10] perrygeo commented on #207
This already exists. There is a `nodata` statistic to get the count of "missing value" pixels. The nodata value is either defined by the raster dataset itself or through the `nodata` keyword argument. Example:

[code]

Will count all of the missing values encoded as -999

[2020-01-15 16:10] #207 closed

[2020-01-29 00:27] knaaptime opened #208 "handling remote files (or setting rasterio/gdal context)"
Hi,
thanks for this great package. I'm wondering if it's possible to pass an *open* raster (as opposed to simply the path) to zonalstats (without converting to `ndarray` first).

My use case is that I'm reading a raster file from a public s3 bucket, which requires the following rasterio context:

[code]

which works great by itself. But now I need to calculate zonal stats and I cannot make `rs.zon

[2020-02-03 14:48] OpitiCalvin opened #209 "NO Data values in an array used in zonal stats computation"
I recently loaded an array on NDVI values computed from Descartes Labs API and needed to compute zonal stats. I even included the **no_data** parameter, set to -999. The mean values from zonal stats had values like: **4.904701496007352e+19** - meaning the default fill_value of 1e+20 was used instead of my set -999 for masked regions (which still should have been excluded). The computed zonal stats

[2020-02-24 13:20] alekfal opened #210 "Installation ends with Segmentation fault (core dumped)"
Hello,
I am trying to install rasterstats from pip3 to my Xubuntu 18.04 machine and I get a  Segmentation fault. My Python version is 3.6.9. Any suggestions on how to solve this? Bellow I posted the output.

<pre>pip3 install rasterstats
Collecting rasterstats
  Using cached https://files.pythonhosted.org/packages/bd/86/493e7794124d1048254bd3be562839506a4ea1777d7ce28313b1d2a24312/rasterstats-0.14.

[2020-02-24 15:13] perrygeo commented on #210
@alekfal I suspect it's related to one of the dependencies with C-extensions. Can you reproduce this with a smaller set of libraries to help narrow it down? Try `fiona rasterio shapely numpy`

[2020-02-25 09:47] alekfal commented on #210
Hello @perrygeo . Thank you for the reply. I've tried to install manually through pip all the requirements and I got a segmentation fault when I've tried to install simplejson.
Then I've re-install simplejson through pip and I didn't get an error, but still when installing rasterstats  the segmentation fault appears.

[2020-02-25 15:41] perrygeo commented on #210
Can you reproduce this in a new clean virtual environment?

[2020-02-26 09:41] mike-c999 opened #212 "Process finished with exit code -1073740791 (0xC0000409)"
Hi Everybody,
every time I am running a neural net (LSTM in this case) it crashes with the line “Process finished with exit code -1073740791 (0xC0000409)”. It does not happen at a fixed number of epochs. It always depends on the quantity of training/test data I am using to train the net.
Any ideas?
I do not think it is the code but here you go just in case. I am only putting in the net itself.
Tha

[2020-02-26 13:41] alekfal commented on #210
Hello @perrygeo. I have created a new virtual environment as you suggested and the problem is solved. Thank you!

[2020-02-26 13:41] #210 closed

[2020-02-26 14:16] perrygeo commented on #212
unrealted to rasterstats

[2020-02-26 14:16] #212 closed

[2020-03-01 19:13] yyu1 opened #214 "Using rasterstats with very large datasets"
Hi perrygeo,
I have used rasterstats with some very large raster data (100m resolution global data) using zonal_stats, and I have ran into issues.  I was able to find the problem and made some modifications on my fork of rasterstats that seems to be working.

However, I didn't think about if it might break other intended functions of rasterstats, so I wanted to open an issue here to discuss what a

[2020-03-01 19:19] yyu1 commented on #214
I think this is related to #206 .  The slowness and hanging is very likely due to MultiPolygon type using large amounts of memory.

[2020-05-06 08:16] shubhamsharma1609 opened #215 "zonal_stats function returns 'infinity' value"
zonal_stats function returns infinity when calculating mean for some geometries.

[2020-05-06 10:37] kesslerf opened #216 ".IMG files as rasters?"
Hey Guys,
I was trying to run zonal_stats() with a 1-Polygon shapefile and an .IMG file as raster, but did get the following error:

_AttributeError: 'rasterio._io.RasterReader' object has no attribute 'mask_flag_enums'_

Since I did not find a solution elsewhere I am interested if you could help me?

Best,
Felix

[2020-05-06 13:22] ircwaves commented on #215
If there's an `inf` within the portion of the raster delineated by the polygon, that seems mathematically correct.

[2020-05-06 14:02] shubhamsharma1609 commented on #215
There is no `inf` value in the image.Also, I think inside the main script of rasterstats where mean is being calculated as `float(masked.mean())`, if it is changed to `np.mean(masked.astype('float64'))` (as the data type of my image is float32, the problem vanishes). So, I think this limitation of numpy should be taken careof in the versions to come.

[2020-05-07 06:48] #216 closed

[2020-05-11 14:17] perrygeo commented on #215
@shubhamsharma1609 can you provide a minimal example with code and data to reproduce this?

[2020-05-14 20:51] #201 closed

[2020-06-03 11:02] marcello-moreira opened #218 "Rasterstats - Error - Rasterize Geom - Width and Height must be > 0"
Hi Matthew,

I was trying to do the basic zonal statistics and I cannot get around this error.
I tried the process with different shapefiles (with polygons). The result was the same.
I am running it with Jupyter-Lab

Here is my env configuration with anaconda:
python                    3.7.7
rasterio                   1.1.4            py37h02db82b_0    conda-forge
rasterstats               0.14.0

[2020-06-03 16:00] brendan-ward commented on #218
@marcello-moreira it looks like your raster is missing CRS information, which means that it can't be used as-is with the shapefile, which is using `EPSG:4326` (WGS 84 lat / long).

You need to first assign the correct CRS information to the raster. You will then need to transform the shapefile to that same CRS, so that they overlap in the same coordinate space.

[2020-06-03 20:25] marcello-moreira commented on #218
Tks for the tip, Brendan.
Indeed was missing.
I added the CRS.
Unfortunately the error remains the same.

Here is the tif with the EPSG:4326
[temp (2).zip](https://github.com/perrygeo/python-rasterstats/files/4726049/temp.2.zip)

[2020-06-03 21:12] brendan-ward commented on #218
It looks like this is a case where the direction of the Y values is opposite of what rasterstats expects.  Typically, rasters are defined using a geotransform that starts at the upper left coordinate ("north up"), where each subsequent row of the raster is moving further south (negative Y).

In this case, it looks like the geotransform is at the bottom left.  This results in the window using to re

[2020-06-03 22:30] perrygeo commented on #218
Thanks @brendan-ward. Yes this is a known issue in rasterstats: https://github.com/perrygeo/python-rasterstats/issues/98

There has not been any progress building a general solution for the inverted y axis problem, yet.

[2020-06-08 05:29] marcello-moreira commented on #218
Thanks guys, I recreated the raster north up and everything worked.

The full process chain is: Netcdf -> Xarray -> Geotiff -> Rasterstats

Then the code below discovers if the north is up/down, if lon is normal or inverted.
Then it will flip the data accordingly

import xarray
import numpy as np

xds=xarray.open_dataset(filename)

lat_start=xds.lat[0].item()
lat_end=xds.lat[xds.dims['lat']-1].ite

[2020-06-08 05:31] #218 closed

[2020-07-10 07:43] raymond-grointel commented on #201
Can we get a minor release with this fix please on pypi.

[2020-07-11 15:49] mataslauzadis opened #219 "Using a GeoPandas frame in zonal_stats results in OverflowError: cannot convert float infinity to integer"
When I use a pre-loaded shapefile dataframe in the zonal_stats as follows,

[code]
I receive the error:

[code]

But, when I simply provide the path to the shapefile, instead of the geopandas object, it works fine. Is this intended? I remember zonal_stats working fine with Geopandas objects just a few months ago.

[2020-07-11 15:51] mataslauzadis commented on #219
Here is the minimum data required to reproduce the error:
https://drive.google.com/drive/folders/1lJe50IVsTLVAX7G9w7_9mm4HGX4gfSpc?usp=sharing

[2020-07-30 10:30] jebouchat opened #222 "Feature request : modify CRS of shp to match raster's automatically"
Hello,

I thought it would be nice for zonal_stats to be able to handle polygons and rasters with different CRS, or at least warn the user of the fact that they are different.

Regards,
Jean

[2020-08-17 15:06] pepeto opened #223 "Conda Installation Failure on Python 3.8"
It seems like is not ready for Python 3.8. Do I have to downgrade the python version? I don't know how to solve the CUDA problem. Please help, tahnk you!

After executing:

conda install -c conda-forge/label/cf201901 rasterstats

or

conda install -c conda-forge/label/gcc7 rasterstats

I receive this message:

Specifications:

    rasterstats -> python[version='2.7.|3.5.|3.6.|3.4.']

Your python:

[2020-08-17 17:35] perrygeo commented on #223
The packaging for conda is handled in an independent project: https://github.com/conda-forge/rasterstats-feedstock. I don't use or test on conda at all so I can't help with the specifics.

Based on the python version constraint above, I would guess that conda-forge is taking the versions in `setup.py` literally.

https://github.com/perrygeo/python-rasterstats/blob/9ae7239d934075e322c2319734969b587

[2020-08-28 16:50] perrygeo commented on #222
Dealing with CRS mismatches is a very complex topic and firmly not in the scope of this project. To summarize, CRS matching is a concern that you _must_ deal with explicitly in steps _prior to_ running zonal stats.

* Not every vector or raster data source has a **defined CRS**. Any behavior that relied on both being defined would be inconsistent and could lead to very bad misunderstandings - e.g.

[2020-08-28 16:51] #222 closed

[2020-09-29 16:12] AL89 opened #224 "zonal_stats returns PROJ error"
Hi

Is it just me who gets this error/message when trying to import `zonal_stats` from the `rasterstatsmodule`?

[code]

Nevertheless I tried to use it in my code, and then I got this error: `CPLE_AppDefinedError: PROJ: proj_create_from_database: Cannot find proj.db`

I have also posted a Stack Exchange post here: https://gis.stackexchange.com/questions/375361/zonal-stats-returns-proj-error

[2020-09-29 18:52] perrygeo commented on #224
This appears to be an issue with the installation of dependencies (GDAL and proj) not with rasterstats. As suggested in the stackexchange comments, setting the `PROJ_LIB` environment variable to point to the directory where your `proj.db` resides should fix the issue. If not, the GDAL issue tracker would be the best place to ask this question.

[2020-09-29 18:52] #224 closed

[2020-10-02 05:12] perrygeo commented on #214
Excellent observations on the memory usage with a geographically distributed multi-geometries - thanks @yyu1 !

I'd say the "flattening" approach could work very well. In more general terms, the data & mask arrays for _any_ `Multi*` geometry could be calculated by looping over it's single-part geometries.

I'm concerned that it might be an optimization for this one use case but hurt performance fo

[2020-10-02 05:21] perrygeo commented on #209
It's possible. Can you provide a sample dataset and some code to demonstrate this?

[2020-10-02 05:40] perrygeo commented on #206
@mataslauzadis I definitely see the need for better feedback while iterating through input features.

I'm not sure the best way to implement it though - consider that `tqdm` and similar approaches are designed for interactive use where you want to get regular feedback printed to the screen . This library can be used in a web server or batch processing context where the additional noise from such f

[2020-10-02 05:48] perrygeo commented on #202
Thanks for the discussion! The thread-safety and threaded performance are characteristics of underlying Rasterio and GDAL libraries which are in turn influenced by data access patterns, environment variables and driver-specific behavior. I don't see anything I can do from this library to improve or even change the situation. Any solutions are going to be GDAL-specific so let's take the discussion

[2020-10-02 05:48] #202 closed

[2020-10-02 05:55] perrygeo commented on #188
I don't understand the question. Please provide some sample data and code to explain what you're trying to accomplish.

[2020-10-02 06:12] perrygeo commented on #219
@mataslauzadis Thanks for a great bug report! Code and data is always appreciated!

However, I can't reproduce this case. Using Python 3.8 in a clean virutalenv:

[code]

Running against the sample data you provided

[code]

gives me the presumably expected output of

[code]

I'm inclined to think this is a bug specific to your installation and/or one of this libraries many dependencies. Can you t

[2020-10-02 07:04] perrygeo commented on #190
Thanks @Sinan81 - closed in aea6ac36b1d7a59a203f28a8cdc3ebb1efc2b184

[2020-10-02 07:04] #190 closed

[2020-10-02 07:15] #223 closed

[2020-10-02 14:57] mataslauzadis commented on #219
I can no longer replicate the bug either on Python 3.7.8.
I've changed my working environment since this was first reported, so I can't debug the libraries / dependencies.
Thank you for the reply!

[2020-10-02 14:57] #219 closed

[2020-10-02 21:02] perrygeo commented on #187
@giacfalk This library focusses on doing the analysis, other libraries handle the data serialization and IO operations. In this case, you would use `fiona` to write the return value to a shapefile.

Why not include an option to write shapefiles internally? What if one user wants to write a shapefile with different parameters, another might need to write to a database, another might use the return

[2020-10-02 21:03] #187 closed

[2020-10-13 16:57] yyu1 commented on #214
@perrygeo  I agree that an optional keyword is the best way to test this out and not affect the processing by default.

It should be fairly straightforward, because the way I implemented it was to add an `if` block that checks if the geometry is MultiPolygon.  It should be just a matter of adding `if Multipolygon and split_multi_geom`.  My fork is some commits behind the main branch.  I'll try to

[2020-10-19 13:29] AsgerPetersen opened #227 "Allow toggling boundless reading"
I would like to propose exposing a way to toggle boundless reading for two reasons:

1) There are use cases where features being outside the raster extent is an error. For example in my job I am provided with countrywide rasters and I collect statistics from these rasters for buildings and roads. If a feature is outside the raster extent something is wrong with either the feature or the raster.

2

[2020-11-21 18:38] perrygeo commented on #227
@AsgerPetersen :+1: looks like a good option for both providing more flexible edge handling _and_ potentially a performance boost. Can you submit a PR for this? Looks ready to go. I can get this in the next release after some testing.

I'm curious about the performance degradation with boundless reads. I'll look into that as well.

Thanks!

[2020-11-23 09:00] AsgerPetersen commented on #227
Sure. PR in #228
I wonder if it could be an idea to implement boundless reading from rasterio datasets the same way as for numpy arrays: https://github.com/perrygeo/python-rasterstats/blob/master/src/rasterstats/io.py#L165. It seems that the strategy used by rasterio for boundless reading isn´t very performance friendly in the case of repeated reads.

[2020-11-24 03:49] alpha-beta-soup opened #229 "Yield exceptions"
I have hundreds of features to loop over, for which I'm using the `gen_zonal_stats` function to get a generator for iteration. Rarely, one of these features will be invalid for some reason. Currently the generator throws an exception for this, specifically the `fsrc = rast.read(bounds=geom_bounds)` line within the feature loop. This is uncaught, which means that the iterator will also start throwi

[2020-11-24 15:44] perrygeo commented on #227
The boundless=False option is now in master. I'm going to repurpose this issue as a place to discuss the rasterio boundless read performance. As you suggested, there might be some workarounds to implement on the rasterstats side.

[2020-11-24 15:46] perrygeo opened #230 "Deprecation warnings from shapely"
[code]

[2020-11-24 15:46] perrygeo opened #231 "Deprecation warnings from numpy"
[code]

[2020-11-24 15:47] perrygeo opened #232 "Deprecation warnings from cligj"
[code]

[2020-11-24 18:46] perrygeo commented on #229
The contract made by rasterstats is that you get stats for all your `vector` input features or, if not, you get an Exception. This proposed change to the API of the `gen_zonal_stats` function and would not be backwards compatible. Happy to review a PR is you could implement it without changing any existing functions. But as written above, with the generator returning either stats or an exception,

[2021-01-01 19:18] WangHuachen opened #234 "Process finished with exit code -1073740791 (0xC0000409) what's the problem?"
2021-01-01 20:16:29.971236: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll
2021-01-01 20:16:35.203863: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-01-01 20:16:35.208947: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic

[2021-01-01 20:28] #234 closed

[2021-01-30 20:51] sdtaylor commented on #208
I've been doing s3 stuff with rasterio and it handles an s3 path just like a filepath. rasterstats doesn't change the path at all so it seems to work fine without any adjustment

[code]

It can be wrapped in a special rasterio session for a requester pays bucket too. Like with this naip imagery.
[code]

rasterstats only reads with the rasterio window method, so as long as the s3 files are cloud op

[2021-01-31 15:57] #230 closed

[2021-01-31 15:57] #231 closed

[2021-01-31 16:27] #229 closed

[2021-01-31 16:35] perrygeo opened #238 "Migrate CI from travis to github actions"
I guess that makes the decision easy. I'm not keen to find another third party CI system that might disappear in a few years, github actions it is.

[2021-01-31 17:11] #232 closed

[2021-01-31 17:11] #238 closed

[2021-02-20 00:37] hoovco commented on #205
Been working on this for a couple days on my end ... for my experience, it looks like its a GDAL Grid issue. The output from grid results in a flipped image. If you reproject using:

warpOptions = gdal.WarpOptions(srcSRS='EPSG:4269', dstSRS='EPSG:4269') #whatever EPSG you need, make it the same
warp_out = gdal.Warp(rasterWarpOut, outputTest, options=warpOptions)

it corrects the image. Hope this h

[2021-02-25 07:54] OpitiCalvin commented on #209
I figured out what I was doing wrong. I passed a normal array, instead of my masked array to the zonal stats function, hence propagating some of the erroneous values to the output

[2021-02-25 07:54] #209 closed

[2021-03-22 18:26] danbroman opened #239 "zonal_stats call returns NaN for some polygons"
I've tried and failed to work out an explanation for this error and hope for some help. `raster_stats` returns NaN for some polygons for all statistics. I've tried using geojson and shapefile polygons, changed the map projection from a projected coordinate system (EPSG:5070) to WGS84 (EPSG:4326), and tried several versions of Python. My production environment is -

- Python 3.8
- numpy 1.19.4
- gd

[2021-03-23 03:04] perrygeo commented on #239
If you look at those 12 polygons, I would guess they are too small or unfortunately shaped so they don't intersect the centroid of any raster pixel (the default rasterization strategy).

Adding `all_touched=True` to your zonal_stats call will use an alternative strategy of including all overlapping pixels. See https://pythonhosted.org/rasterstats/manual.html#rasterization-strategy

[2021-03-23 03:37] danbroman commented on #239
Thanks for the quick reply! I did some checking and you're correct in what's happening. It also seems that by default the QGIS plugin uses the all_touched=False option equivalent and must flag polygons that return NaN then fills in those values using the equivalent of all_touched=True. Good to know for future reference. Thank you again for your help and the quick response

[2021-03-23 03:37] #239 closed

[2021-03-24 14:36] loicduffar opened #240 "is compatibility with python 3.7 (and 3.8) planned?"
Welcome to the `python-rasterstats` issue tracker. Thanks for putting together a bug report! By following the template below, we'll be better able to reproduce the problem on our end.

If you don't have a bug specifically but a general support question, please visit https://gis.stackexchange.com/

**Describe the bug**
A clear and concise description of what the bug is. What you expected to happen

[2021-03-24 14:43] perrygeo commented on #240
This library should be fully compatible and tested with all 3.6+ python versions: https://github.com/perrygeo/python-rasterstats/blob/master/.github/workflows/test-rasterstats.yml#L13.

This fact isn't reflected in the setup.py however; I will update the versions listed there on the next release.

Are you having any difficulty using it on newer python versions? If so, please create a ticket with t

[2021-03-24 14:51] #240 closed

[2021-03-26 07:28] loicduffar commented on #240
Thank you !
rasterstats is not a problem for me with python 3.7 and I don't have experience with 3.8 yet.
I just make sure that all the libraries I use are theoretically compatible before migrating to python 3.8 (anaconda).

[2021-03-29 18:08] loicduffar opened #241 "Installation failure with conflict message under python 3.8.5 (Anaconda)"
**Describe the bug**

Expected: Installation success of rasterstats in a new Anaconda3 plateform (python 3.8.5)
Happened: Installation failure with very long conflict message (Plese see partial screen copy below)

**To Reproduce**
Steps to reproduce the behavior:
1. How did you install rasterstats and its dependencies?
under Windows 8.1 64 bits
by conda (with 2 channels: base + conda-forge)
in a n

[2021-03-30 15:35] perrygeo commented on #241
This project builds wheels and source packages that are published to PyPI. While I don't explicitly discourage the use of conda, I don't have the bandwidth to support it.

The conda package distributions are managed entirely by the Anaconda project; I encourage you to check with the appropriate package maintainers to resolve this.

[2021-03-30 15:35] #241 closed

[2021-03-30 17:37] sgoodm commented on #241
@loicduffar I was recently installing rasterstats using Conda and 3.8.x and encountered conflicts when including rasterstats in my base list of packages to install when the environment was created. Creating the environment first, installing all other packages, and then installing rasterstats using the conda-forge channel seemed to do the trick.

[2021-03-31 11:32] loicduffar commented on #241
@sgoodm Thanks for sharing your experience.
It looks like you encountered a conflict issue while installing rasterstats with conda, and fixed it by installing it LAST.
But it is precisely by trying to install rasterstats after the other libraries that the process fails for me ....

Did I understand well your advice ?

[2021-03-31 13:40] sgoodm commented on #241
@loicduffar Did you try explicitly installing rasterstats using the conda-forge channel? Generally conda vs conda-forge doesn't matter but there may be an newer version associated with conda-forge for some reason. Unfortunately, I did not look too deep into this as it just worked for me, so I don't have much more insight.

[2021-03-31 14:34] loicduffar commented on #241
@sgoodm Yes the install is from conda-forge channel.
But I realize that the version is 0.14 on conda-forge (same as github version) while the version is 0.15 on pypi.
I don't know if it's important

[2021-04-22 08:03] sylvaticus opened #242 "DOC: How to link the results back to fields in the shapefile ?"
Let's say by shapefile has a field "RegionName", and I want to compute some zonal statistics from a raster, e.g. a count.

I can do `stats = zonal_stats("myAdminBorders.shp", "myData.tif")`, but then my `stats` is a vector. How can I then link this vector back to the shapefile `RegionName` (and possibly export all as CSV or similar) ?

[2021-05-05 03:29] nathanjmcdougall opened #243 "nodata when geometry has empty rasterization"
**Bug Description**
When computing the `'nodata'` count as one of the statistics for `zonal_stats`, if a geometry's rasterization does not include any pixels at all then:
-  a UserWarning will be raised by numpy and
- the `'nodata'` value will be NaN.

Of course, it is fine to interpret NaN as zero, but for consistency this should probably be:
-  None, which is the value returned for `max`, `mean`

[2021-05-28 22:53] RyanConway91 opened #244 "Support for multibanded rasters"
Hello,

I have ~300 single band rasters with the same geometry (extent, cell size) and a shapefile with ~100000 zones.

Based on current testing, running zonal_stats on all the rasters is going to take several days.

If I could combine the rasters into a single multibanded raster, would the run time be reduced? Does zonal_stats work with multibanded rasters?

[2021-06-07 13:23] sdtaylor commented on #242
You can use geopandas to read the shapefile initially and pass into zonal stats. The `stats` output can be converted directly to a pandas dataframe, appended with the `RegionName` field, and saved to a csv.

[code]

[2021-07-13 18:08] ccabanero commented on #114
Hello all,

Just sharing a slightly modified code snippet that helped me solve this same issue in 2021 with new versions of gdal (3.2.1) and rasterio (v1.2.1)

[code]

[2021-08-17 15:26] Tinkaa opened #245 "zonal_stats does not include expected raster cells"
I created a toy `xr.DataArray` and `gpd.GeoDataFrame`. When applying `zonal_stats` to this, the results are not as expected. It identifies 2 cells within one polygon and 1 within the other. I would expect the result to have 4 cells in the one polygon, and 0 in the other. I have tried to dig into the code what causes this but haven't been able to understand it.  I am guessing it has something to do

[2021-08-19 05:57] debboutr commented on #244
Here's an [example](https://github.com/csc-training/geocomputing/blob/master/python/zonal_stats/zonal_stats_parallel.py
) that might help you out.

[2021-09-19 02:34] raybellwaves commented on #98
FYI the above function has a couple typos (missing a bracket and data not defined). here's the fixed version:

[code]

[2021-09-21 10:08] sebastianclarke opened #246 "zonalstats includes numpy masked data areas in stats calculations"
**Describe the bug**
Issue occurs when calling the `zonal_stats` function and passing a numpy array and affine, rather than a geo-referenced raster. If you have previously used numpy.ma to mask a portion of the data, that portion of the data is still included in stats calculation. I was expecting that pixels masked in this manner would be ignored during stats calculation, in the same way that noda

[2021-10-26 14:39] fitnr opened #248 "array_interface_base incompatibility with Shapely 1.8.0"
**Describe the bug**

When running `gen_point_query` with Shapely 1.8.0 installed, rasterstats throws a TypeError when trying to use `array_interface_base`. This error doesn't occur with Shapely 1.7.1.

The error looks like this:
[code]

**To Reproduce**
1. How did you install rasterstats and its dependencies?

Bug was encountered when running in a Docker image built from `osgeo/gdal:ubuntu-small-

[2021-10-29 17:47] #248 closed, assigned to nobody

[2021-11-03 10:33] indus opened #251 "CLI: Silent failure on malformed JSON in a sequence"
**Describe the bug**
When using a sequences of line-delimited Features as input the last Feature in the output is identical to the first, but the correct last Feature is missing.

**To Reproduce**
Steps to reproduce the behavior:

On Windows in a conda enviroment using the cli tool / rio plugin

2. What datasets are necessary to reproduce the bug? Please provide links to example data if necessary.

[2021-11-22 18:59] PA-Segura opened #252 "differences with geotiff.io and negative minimum statistics"
Hello,
I would like to use rasterstats to quantify rainfall from weather radars.
I am trying to use a geojson polygon and a geotiff.

Comparing my result to a quantification done in geotiff.io I see that my calculation with rasterstats differs a little

|        | rasterstats | geotiff.io |
| min    |    -0.94999 |       0.05 |
| max    |       12.75 |      12.75 |
| median |      0.7684 |       0

[2021-11-24 20:13] aazuspan commented on #206
Having a built-in progress bar would be great! Maybe there could be a `show_progress=False` arg so interactive users could enable a progress bar without adding noise for other users? `tqdm` takes a `disable` arg, so both options could be implemented just by changing that, e.g. wrap the iteration in `tqdm` and set `disable=not show_progress` to hide by default.

For now, here's a workaround I used

[2021-11-25 22:42] PA-Segura commented on #252
It worked out to remove the Geotiff negative values with a custom function..
[code]

[2021-12-01 20:39] #252 closed

[2021-12-18 01:01] janderson5417 commented on #173
I see this issue is closed, but I've been stuck on specifying the affine instance most of the afternoon without any success. I've tried to baby-step my way through:

`tracts = fiona.open('data/tl_2021_06_tract.shp')`

`land_src = rasterio.open('data/land/NLCD_2019_Land_Cover_L48_20210604_rNuMWD3Z0SuUkIIVRc8K.tiff')
land_dict = land_src.profile`

`land_aff = land_dict['transform']
land_aff`
Affine(

[2021-12-21 16:47] janderson5417 commented on #173
Thank you! I was traveling yesterday and couldn't try it out until today...if I can stretch your patience a bit, I tried the following based on your input:

`land_stats = zonal_stats(tracts, land_arr, affine = land_aff, nodata = -9999)`

It returned an empty list, although I can confirm data in QGIS for both the vector + raster data.

Maybe I implemented your response incorrectly?

[2021-12-21 18:19] janderson5417 commented on #173
@perrygeo --just for clarification, `affine = src.affine` yields the following error for me:

AttributeError: 'DatasetReader' object has no attribute 'affine'

[2021-12-22 01:25] janderson5417 commented on #173
@perrygeo --apologies, I've downloaded the repo files and am walking through your notes (which are fantastic)--thank you!!!

[2022-01-07 01:10] dncardenasg commented on #218
Hello!
I am new to Python, just learning.
I have the same problem and it persists after assigning the coordinate system.
I am working on a raster that I generated from the interpolation of some points, but the rasters are inverted (north down). When I try to do zonal statistics with Rasterstats this error is generated: "ValueError: negative dimensions are not allowed".

I don't know how to fix the

[2022-01-07 12:49] perrygeo commented on #218
@dncardenasg I'm not sure but it appears to be an issue with your rasterio installation not being able to find the proj.db. I'd suggest checking out https://github.com/rasterio/rasterio#support  - the mailing list might be able to help.

[2022-01-10 16:22] dncardenasg commented on #218
Thanks!
Do you know how I can generate the affine so that the negative dimensions error is not generated?

Thanks

[2022-01-11 02:09] dncardenasg commented on #218
Thanks!

[2022-01-22 17:03] CodyB21 opened #254 "Could not import the module (rasterstats==0.16.0)"
[code]
In [2]: !pip list | grep rasterstats
rasterstats            0.16.0

[2022-01-26 15:14] alekfal commented on #254
Hello, this is a known bug (pallets/click/issues#1287) of click package fixed from version 7.1 and later. Try to upgrade to a newer version of click package with:
`pip install click --upgrade`

[2022-01-31 08:27] daaugusto commented on #214
Hi @yyu1 and @perrygeo, what is the status of this feature? I just ran into this memory issue when trying to calculate the zonal stats for multiple polygons. In my case I have a vector file with 5564 polygons and a 145152x123854 raster file and I cannot compute the zonal stats of the entire vector on a 128GB machine due to insufficient memory. However, if I take only part of the vector file, which

[2022-02-05 00:43] yyu1 commented on #214
@daaugusto Thanks for bringing this up again. I had actually forgotten that I had agreed to add this feature.  I haven't used rasterstats in a couple of years so it had escaped my mind.   I'll see if the code I wrote is still compatible with any changes that might have occurred during this time.

[2022-02-06 10:03] ranjit-kr-nair-sudo commented on #214
@yyu1 - I'm facing the very same issue. Excellent discussion and thanks a ton for bringing this issue up.
If the suggested enhancement feature gets accepted, it would be very helpful of course.

Meanwhile, without this feature present, what is the best way I could speed up the computation of zonal statistics?
Thanks in advance.

[2022-02-07 08:55] daaugusto commented on #214
Hi @yyu1, thanks in advance for your effort! I believe this is a great contribution to rasterstats and its community!

[2022-02-11 07:09] yyu1 commented on #214
@perrygeo I have submitted a pull request for this feature #255

[2022-02-11 14:48] perrygeo commented on #214
Thanks! I will take a look this weekend.

[2022-03-03 02:12] FahimMST commented on #254
Installed rasterstats but having issue. It says "ModuleNotFoundError: No module named 'rasterstats'"

[2022-03-08 16:23] albantor30 opened #256 "Performance drop due to platform type check"
Since version 0.16.0, `zonal_stats` is very slow on large datasets. This is due to the use of `platform.architecture()` in `gen_zonal_stats` (main.py - line 184) to check if we are on a 64 bit platform. The previous method using `sysinfo.platform_bits` was much faster.

Here is a code snippet illustrating the huge timing difference:

[code]

This has been observed on Linux (Ubuntu 18.04, 20.04, 21

[2022-03-17 15:52] dennisgsmith commented on #208
For anyone looking to do this in a mock S3 tool like minio, I'll save you a google search:

https://github.com/rasterio/rasterio/issues/1293#issuecomment-502651617

Just add the following variables to your rasterio.Env:

[code]

[2022-04-02 12:05] naifgeo commented on #27
Hello Matthew,
Thank you for your excellent lib
if part of the grids are off the raster boundary will it cause a problem?
i'm using this function :
 average_dtm = rasterstats.zonal_stats(Grids_shp, dtm_array,
                                      affine = affine, stats = ['mean', 'min', 'max'],
                                      geojson_out = True)
and the result i got is nonType object instead

[2022-04-02 12:06] naifgeo commented on #27
![image](https://user-images.githubusercontent.com/102860180/161382353-1f29eb41-72fb-4f80-84d5-7e2f46250fdb.png)

[2022-04-04 07:23] johanvdw commented on #124
We run into the same issue: we have 28 bands, which means that rasterization happens 28 times again.
Looking at the code, I wonder if it would not be an option to add an option to use the mini_raster (which we optionally get as an output) as an input to gen_zonal_stats.

[2022-04-21 19:44] neperin opened #257 "SRTM data for benchmark_data is not available"
There is a link in the example/benchmark.py for downloading SRTM data as part of benchmark_data. It seems the data is not available now.
the link is:
https://hc.app.box.com/shared/1yidaheouv

[2022-05-24 16:54] perrygeo commented on #257
duplicate of #157, and that link does not appear to be valid.

[2022-05-24 16:54] #257 closed

[2022-05-24 17:08] perrygeo commented on #124
@johanvdw @brendancol  so if the optional mini_raster was supplied, we would skip the rasterization step? At a high level, that seems like a reasonable approach.

You'd still have to call the `gen_zonal_stats` once to get the rasterized geoms, then 27 more times - the caller would be in charge of managing the rasterized geometries in memory (or elsewhere). And of course the caller would need to en

[2022-05-31 13:28] theroggy commented on #256
I can confirm the performance drop of 0.16.0. I upgraded all dependencies of something recently that had been running well for quite some years and it had a performance drop of +- 25x (instead of ~10 hours of processing many days, and still not ready). After looking in more detail it narrowed down to zonel_stats()... and rolling back to 0.15.0 resolved the issue.

I didn't narrow it further down t

[2022-06-03 20:15] theroggy commented on #256
I created a pull request that implements the sys.maxsize > 2**32 check.

For completeness, I did some further testing and this issue can indeed explain the complete performance degradation I am seeing:
1. the way I'm using rasterstats: if you read the raster file to an ndarray before running zonal_stats 0.16.0 gives a 20x performance hit due to the new 64 bit check (0.15.0: 1 s,  0.16.0: 20 s for

[2022-06-06 17:55] mylesmc123 commented on #218
@marcello-moreira You're saving deadlines two years later with that code snippet. Thank you!

[2022-06-20 19:03] jonschwenk commented on #73
+1 for reopening this one.

[2022-07-12 11:59] bet-bit opened #259 "Proposal for a third rasterization strategy"
Hello,

Reading the [documentation](https://pythonhosted.org/rasterstats/manual.html#rasterization-strategy) about Rasterization strategy I see there are two current possible strategies:
- *default* : pixel is included if its centroid is within the geometry)
- *all_touched* : pixel is included if it intersects the geometry in any way
I was wondering if implementing a third possibility, coming natu

[2022-07-21 15:02] perrygeo commented on #256
@theroggy @albantor30  Thanks for the analysis. That's very surprising that `platform.architecture` is such a resource hog, I didn't expect that. I agree with the `sys.maxsize` check. I'll take a look at the PR shortly. Moving the conversation over to #258

[2022-07-21 15:11] #256 closed

[2022-07-21 15:27] perrygeo commented on #254
Closing, see @alekfals' fix above

[2022-07-21 15:27] #254 closed

[2022-07-21 15:51] perrygeo commented on #259
Great idea, it would be very useful. I would love to support a more flexible mechanisms for rasterization, _only_within_ being an obvious choice for certain types of analysis. I'd also like to support a threshold (e.g. > 66% covered).

 But `rasterstats` relies entirely on the GDAL library to provide the rasterization algorithm so pragmatically we're stuck with the two options it provides. The bes

[2022-07-21 16:19] sgoodm commented on #259
Approach from #136 could be leveraged for threshold selection (with 100% being the same as using only_within)

[2022-07-22 13:35] dvolgyes commented on #73
For my use case it would be crucial to have some multiband feature.
For instance, I would like to perform stand based statistics on vector values,
e.g. pixel brightness (combination of RGB values), pixel hue, etc.
These cannot be independently calculated by bands and combined later,
the transformation must be before aggregation.

(Returning vector values would be also nice, but this could be worke

[2022-07-26 08:07] bet-bit commented on #259
Hi, and thanks for the answers!
I agree that the best solution would be to put all that into GDAL and from then geit it into rastertats... unfortunately I am not that good with programming, and even less with C++. We'll see if we can make that happen at some point in the future though!

[2022-08-15 10:13] Havi-muro commented on #114
Hi,
I'm using the snippet that ccabanero provided. zonal_stats is extracting the values for only 6 of my 500 polygons. The polygons are non-contiguous and scattered over raster. Do you know if that could be the problem?
`
geo = gpd.read_file(geodir)
rasls_alb = rasdir+'\\alb_TOA_LAI2020-09-08.tif'

with rio.open(rasls_alb) as src:
     array = src.read(1)
     trans = src.transform # --> here do s

[2022-08-17 07:03] Havi-muro opened #262 "If polygons smaller than a pixel, stats not computed"
I've found that for the polygons that happen to be smaller than the image pixel, zonal_stats returns empty results. Although there are other packages to extract pixel values from points, in my case I have polygons of multiple sizes. If a polygon is larger than the pixel I need the zonal stats, but if it is smaller, just the pixel value would do. I suppose that it would be fairly easy to change (if

[2022-09-19 15:48] yagciali2002 opened #263 "Bug in point_query: Getting the wrong value"
I am getting a wrong value after the point query on tif  files below using the shp file below. For validation, I overlaped all of them in QGIS software and got the values manually. I also run "sample raster values tool" on QGIS and I got the same values.
 All files are in the same coordinate system, EPSG 32635
I uploaded all of the files here https://drive.google.com/drive/folders/1rdkYfdjeLTqUZEN

[2022-09-26 14:36] brancomat opened #264 "missing `click` dependency"
Hi,
this is more a proposal than a bug report.
Since python-rasterstats directly imports `click`:
https://github.com/perrygeo/python-rasterstats/blob/5da3110230df44e228ba21f16a9d31ab7e84e0d5/src/rasterstats/cli.py#L6

and since there's a known issue with click<7.1 (#254) , adding a `click>=7.1` in `requirements.txt` would be great.

The following is a real case scenario in which it would come in h

[2022-10-04 00:33] perrygeo commented on #262
See https://pythonhosted.org/rasterstats/manual.html#rasterization-strategy

[2022-10-04 18:22] jonathanqv commented on #264
I fixed this with pip install -U click

I also did the following, but you may not need it.

pip install -U requests cookiecutter

[2022-11-04 13:41] JakobMiksch commented on #264
I had the same problem
`pip install click` fixed it for me as well